@charset "utf-8";

/*---------------------------------------------
	Reset
  ---------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
}

ol, ul{
	list-style:none;
}

img {
	vertical-align: bottom;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	font-size: 0.1em;
	line-height: 0;
}

.clearfix {
	min-height: 1px;
}

.clear {
	clear: both;
}

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: "NUDモトヤアポロ3", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	color: #444;
	font-size: 16px;
	line-height: 140%;
	text-align: left;
	letter-spacing: -0.001em;		/* iOS4でのテキストの隙間への対応 */
	-webkit-text-size-adjust: 100%;		/* 文字サイズの自動調整機能のキャンセル */
}

* html .clearfix {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/*---------------------------------------------
	Main
  ---------------------------------------------*/

#wrapper {
	width: 100%;
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	font-family: "NUDモトヤアポロ3", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

/* header */

#header {
	width: 100%;
	background: #FFF;
}

h1 {
	text-align: center;
	padding: 10px 0;
	margin-bottom: 10px;
}

#header h2 {
	text-align: center;
	padding: 0 0;
	margin: 0 0;
	font-size: 16px;
	color: #666666;
}

#header h2 a{

	font-size: 16px;
	color: #666666;
	text-decoration: none;
}


#header h2:before {
	content: url("../images_nw/triangle.png");
}


.dropup,
.dropdown {
	position: relative;
	margin-bottom: 15px;
}

.dropdown img {
	width: 100%;
}
.dropdown-toggle {
	*margin-bottom: -3px;
}
.dropdown > li {
	line-height: 20px;
	float:left;
	width:25%;
}


.dropdown-toggle:active,
.open .dropdown-toggle {
	outline: 0;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #000000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}

.dropdown .caret {
	margin-top: 8px;
	margin-left: 2px;
}

.dropdown-menu {
	position: absolute;
	left: 0;
	z-index: 1000;
	display: none;
	width: 94%;
	padding: 5px 0;
	margin: 2px 10px;
	list-style: none;
	background-color: #35B8EE;
	border: 1px solid #FFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.dropdown-menu.pull-right {
	right: 0;
	left: auto;
}

.dropdown-menu .divider {
	*width: 100%;
	height: 1px;
	margin: 9px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff;
}

.dropdown-menu > li > a {
	display: block;
	padding: 3px 10px;
	clear: both;
	font-weight: normal;
	line-height: 30px;
	color: #FFF;
	background: #35B8EE;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	color: #35B8EE;
	text-decoration: none;
	background-color: #DBF2FC;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: #ffffff;
	text-decoration: none;
	background-color: #0081c2;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
	color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
	text-decoration: none;
	cursor: default;
	background-color: transparent;
}

.open {
	*z-index: 1000;
	background: url(../images_nw/close_btn.png) 0 0 no-repeat;
	background-size: cover;
}

.open img {
	opacity: 0;
}

.open > .dropdown-menu {
	display: block;
}

.pull-right > .dropdown-menu {
	right: 0;
	left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
	border-top: 0;
	border-bottom: 4px solid #000000;
	content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 1px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
	top: auto;
	bottom: 0;
	margin-top: 0;
	margin-bottom: -2px;
	-webkit-border-radius: 5px 5px 5px 0;
	-moz-border-radius: 5px 5px 5px 0;
	border-radius: 5px 5px 5px 0;
}

.dropdown-submenu > a:after {
	display: block;
	float: right;
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-right: -10px;
	border-color: transparent;
	border-left-color: #cccccc;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
}

.dropdown-submenu:hover > a:after {
	border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.dropdown .dropdown-menu .nav-header {
	padding-right: 20px;
	padding-left: 20px;
}

.nav02 {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.nav02 li {
	float: left;
	width: 48%;
	font-size: 12px;
	text-align: center;
	margin: 1%;
}

.nav02 li a {
	display: block;
	color: #FFF;
	text-decoration: none;
	background: #35B8EE;
	background: -moz-linear-gradient(top, #57CDFF, #35B7EE);
	background: -ms-linear-gradient(top, #57CDFF, #35B7EE);
	background: -webkit-gradient(linear, left top, left bottom, from(#57CDFF), to(#35B7EE));
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow:inset 0 0 0 3px #35B7EE;
	padding: 15px 0;
}

.nav02 li a:hover {
	background: #DBF2FC;
	color: #35B8EE;
	box-shadow:inset 0 0 0 3px #C0E9FA;
	font-family: "NUDモトヤアポロ3", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.nav02_img {
	width: 50%;
}

.nav02_img img {
	width: 100%;
}

#main_visual {
	width: 100%;
	position: relative;
	margin-bottom:15px;
	padding-bottom:0;
	font-family: "NUDモトヤアポロ3", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}



/*ふじてん耳より情報*/

#head_line{
	margin:0;
	width: 100%;
}

.headline{
	background: url(../images_nw/headline_sp.png) no-repeat;
	background-size: contain;
	background-position: bottom left;
	height:80px;
	width:320px;
}




#msgBx{
	font-size :12px;
	padding:15px 0 0 70px;
	margin: 0 0;
	color: #33cccc;
	text-align:left;
	line-height: 1.3;
	font-weight:bold;
	width:240px;
	height:40px;

}
/*ふじてん耳より情報end*/

.main_visual_text {
	background: url(../images_nw/main_visual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom:0;
	right: 0;
	text-align: center;
	color:#FFF;
	height: 170px;
	width: 283px;
	margin:0 0;
	padding:0 0;


}

.main_visual_text p {
	font-size: 15px;
	line-height: 1.2 !important;
	text-align: center;
	margin: 10px 0 0 175px;
	padding:0 0;
}


.line_banner{
	width: 96%;
	margin: 2% auto;
}


.line_banner a:hover {
	opacity: 0.7;
}


#contents {
	width: 100%;
}

/* news */

h2 {
	margin-bottom: 20px;
}

h2 img {
	width: 100%;
}

.news {
	width: 96%;
	margin: 0 auto;
}

.news_inner {
	padding: 10px;
	border: 4px solid #CDCDCD;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 10px;
}

.news_inner a:hover {
	opacity: 0.7;
}

.news_title {
	margin-bottom: 5px;
}

.news_date {
	font-size: 12px;
	float: left;
	margin: 0 5px 5px 0;
}

.new_flag {
	color: #DF001A;
	font-size: 12px;
	float: left;
}

.news_txt {
	clear: both;
	margin-bottom: 5px;
}

.no_margin {
	margin-bottom: 0 !important;
	font-family: "NUDモトヤアポロ3", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.news_link {
	text-align: right;
	margin-bottom: 5px;
}
.remodal {
	background: #FFF !important;
	font-family: 'NUDモトヤアポロ3','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif !important;

}
.remodal h1 {
	border-bottom: 2px solid #DEF1F5 !important;
	color: #84A6B2;
	text-align: left;
	margin-bottom: 5px;
	font-size: 24px !important;
	line-height: 28px;
}
.remodal_news_date {
	text-align: left !important;
	color: #A4A9AE;
}
.remodal_news_img {
	padding: 15px 0;
}
.remodal_news_txt {
	text-align: left !important;
	padding-bottom: 10px;
}

/* today_f */

section#S01 {
	margin: 0 0;
	padding: 0 0;
	background-color: #def1f5;
}

.today_f{
	width: 100%;
	text-align: left;
}

.today_f table {
	width: 98%;
	margin: 0 auto;
	padding: 0 0;
	text-align: center;
}

.today_f01 {
	color: #fff;
	background-color: #0da1e9;
	padding: 3px;
	font-size: 20px;
	text-align: center;
}

.today_f02 {
	text-align: right;
	padding: 10px;
}

.today_f03 {
	text-align: left;
	padding: 5px;
	font-size: 14px;
	color: #32a300;
	width: 30%;
}

.today_f04 {
	text-align: left;
	padding: 5px;
	font-size: 18px;
	width: 25%;
}

.today_f05 {
	text-align: center;
	padding: 10px;
	line-height: 1.1;
	font-size: 10px;
}

.today_button{
	font-size: 14px;
	color: #ffffff;
	padding: 5px 5px;
	background: -moz-linear-gradient(top, #42aaff 0%, #003366);
	background: -webkit-gradient(linear, left top, left bottom, from(#42aaff), to(#003366));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #003366;
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.7), 0px 1px 0px rgba(255,255,255,0.3);
}

/* 営業日カレンダーへのボタン */
.butn {
	clear: both;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	border: 2px solid #ec6aa2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: #FFF;
}

.butn a {
	display: block;
	padding: 10px 0;
	color: #ec6aa2;
	text-decoration: none;
}

.butn a:hover {
	color: #FFF;
	background: #ec6aa2;
	font-family: "NUDモトヤアポロ3", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
/* gelande */

.gelande {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0;
}

.gelande a {
	width: 100%;
	text-align: center;
	color: #cd654c;
	font-size: 14px;
}

ul.gelande {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.gelande li {
	float: left;
	width: 25%;
	margin: 0 0;
	padding: 0 0;
	text-align: center;
	background-color: #def1f5;
}

/* road */

.road {
	width: 100%;
	margin: 0 auto;
	padding: 0 0;
	text-align: center;
	overflow: hidden;
}

.road p {
	text-align: left;
	font-size: 12px;
	color: #339900;
}

.road_box {
	float: left;
	width: 48%;
	background-color: #FFF;
	padding: 20px 0;
	margin: 1%;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.road_box p {
	margin-left: 20px;
}

/* clearfix */
.road:before,
.road:after {
	content: "";
	display: table;
}

.roadafter {
	clear: both;
}

.roadtxt{
	color: #663300;
	font-size: 14px;
	text-align: center;
}

/*コメント*/

.comments {
	width: 100%;
	margin: 0 auto;
	padding: 0 0;
	text-align: center;
	overflow: hidden;
}

.comments p {
	font-size: 14px;
	text-align: center;
	color: #333;
}

.comments_box01 {
	float: left;
	width:36%;
}

.comments_box02 {
	float: left;
	width: 48%;
	background-color: #FFF;
	padding: 20px;
	margin: 1%;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

/* clearfix */
.comments:before,
.comments:after {
	content: "";
	display: table;
}

.commentsafter {
	clear: both;
}

/* feature */

.feature {
	width: 100%;
}

.feature li {
	width: 50%;
	float: left;
	margin-bottom: 20px;
}

.feature li img {
	width: 100%;
}

.feature li a:hover {
	opacity: 0.7;
}

/* S03 */

section#S03 {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 0 0 5% 0;
	background-color: #def1f5;
}

/* blog */

.blog {
	margin: 0 auto;
	background: url(../images_nw/blog_back.png) no-repeat;
	width: 98%;
	text-align: center;
}

.blog_area {
	text-align: left;
	overflow: hidden;
}

.blog_box {
	float: left;
	padding:0 0 0 10px;
	width:46%;
	margin-bottom: 15px;
}

/* clearfix */
.blog_area:before,
.blog_area:after {
	content: "";
	display: table;
}

.blog_areaafter {
	clear: both;
}

.more{
	text-align: center;
	background-color: #d64d22;
	color: #f1e29d;
	padding: 2px;
	margin: 2px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.more a{
	color:#f1e29d;
}

.sns a {
	width: 50%;
	padding: 10px 0 30px 0;
	background-color: #def1f5;
	text-align: center;
	float: left;
	box-sizing: border-box;
}

/* mailmagazine */

.newsletter {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.newsletter_inner {
	margin-bottom: 10px;
}

.newsletter_link {
	margin-bottom: 5px;
	font-size: 10px;
	text-align: center;
}

.ad_area {
	width; 100%;
	background: url(../images_nw/bn_bg.jpg) no-repeat;
	background-position: center left;
	background-size: 100% auto;
}

.ad_area  ul {
	width: 96%;
	margin: 0 auto;
}

.ad_area li {
	margin-bottom: 20px;
}

.ad_area li a:hover {
	opacity: 0.7;
}

.ad_area li img {
	width: 100%;
}

/* footer */

#footer {
	width: 100%;
	background: #FFF;
}

#back-top img {
	width: 100%;
}

.footer_link01 {
	padding: 0 20px;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #EEE;
	background: url(../images_nw/link_arrow.png) no-repeat center right;
}

.footer_link01 a {
	display: block;
	color: #84a6b2;
}

.footer_link01 a:hover {
	opacity: 0.7;
}

.no_border {
	border-bottom: none !important;
}

.footer_link02 {
	margin-bottom: 20px;
}

.footer_link02 li {
	float: left;
	width: 50%;
	font-size: 12px;
	text-align: center;
	box-shadow:inset 0 0 0 1px #FFF;
	background: #DEF1F5;
	padding: 10px 0;
}

.footer_link02 li a {
	display: block;
	color: #1D90CE;
	text-decoration: none;
}

.footer_link02 li a:hover {
	opacity: 0.7;
	text-decoration: underline;
}

.footer_link03 {
	margin-bottom: 20px;
	clear: both;
}

.footer_link03 p {
	padding: 10px;
	font-size: 12px;
}

.footer_link03 a {
	color: #1D90CE;
}

.footer_link03 a:hover {
	opacity: 0.7;
}

.contact {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.contact p {
	width: 96%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 20px 0;
	background: #72B3AC;
	background: -moz-linear-gradient(top, #72B3AC, #067A69);
	background: -ms-linear-gradient(top, #72B3AC, #067A69);
	background: -webkit-gradient(linear, left top, left bottom, from(#72B3AC), to(#067A69));
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.contact p a {
	display: block;
	color: #FFF;
	text-decoration: none;
}

.contact p a:hover {
	opacity: 0.7;
	text-decoration: underline;
}

.footer_line img {
	width: 100%;
}

.footer_bottom {
	text-align: center;
	font-size: 12px;
	color: #1D90CE;
	background: #DCF5F7;
	padding: 10px 0;
}

.footer_bottom p {
	margin-bottom: 10px;
}

.footer_bottom p a {
	color: #1D90CE;
}

.footer_bottom p a:hover {
	opacity: 0.7;
}

/*---------------------------------------------
	lift
  ---------------------------------------------*/

.sub_main_img img {
	width: 100%;
}

.lift_main_text {
	background: url(../images_nw/lift_mainvisual_card.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 2%;
	right: 2%;
	text-align: center;
	color:#FFF;
	height: 120px;
	width: 151px;
}

.lift_main_text p {
	font-size: 10px;
	line-height: 1.2 !important;
	text-align: center;
	margin: 4px 0 0 53px;
}

.charge {
	width: 96%;
	margin: 0 auto;
	text-align: center;
}

.charge p {
	margin-bottom: 10px;
}

.charge_inner {
	width: 100%;
}

.chage_sec {
	width: 96%;
	margin: 0 auto;
}

.lift_img_right, .lift_img_left {
	width: 38%;
}

.lift_img_right img, .lift_img_left img {
	width: 100%;
}

.lift_img_right {
	float: right;
}

.lift_img_left {
	float: left;
}

.charge_sec_inner {
	width: 62%;
	font-size: 14px;
}

.charge_sec_inner h3 {
	color: #0066CC;
	margin-bottom: 10px;
}

.sec_left {
	float: left;
}

.lift_line01 img {
	width: 100%;
	margin-bottom: 10px;
}

.lift_txt {
	margin-bottom: 10px;
}

.lift_txt span {
	color: #FF0000;
}

.lift_line02 img {
	width: 100%;
	margin-bottom: 20px;
}

.lift_table {
	width: 100%;
	border-collapse: separate;
}

.txt_r {
	color: #F00;
}

.course_tbl td {
	background: #FFF;
	padding: 5px;
}

.lift_h3 {
	background: #BBD5F5;
	font-size: 16px;
	padding: 5px 5px;
}

.lift h4 {
	text-align: center;
	font-size: 18px;
	color: #FFF;
	padding: 15px 0;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-mozborder-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-mozborder-top-right-radius: 10px;
}

.lift_tr {
	text-align: center;
}

.lift_td {
	padding: 5px 0;
}

.lift table {
	margin-bottom: 10px;
}

/*---------------------------------------------
	toku
  ---------------------------------------------*/

.main_txt {
	text-align: center;
	margin-bottom: 10px;
}

.toku_main_text {
	background: url(../images_nw/toku_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 2%;
	right: 2%;
	text-align: center;
	color:#FFF;
	height: 120px;
	width: 151px;
}

.toku_main_text p {
	font-size: 10px;
	line-height: 1.2 !important;
	text-align: center;
	margin: 10px 0 0 25px;
}

.tokuline img {
	width: 100%;
}

.toku01 {
	background: #DEF1F5;
	width: 100%;
	padding: 10px 0;
}

.toku01 ul {
	width: 98%;
	margin: 0 auto;
}

.toku01 ul li {
	float: left;
	width: 46%;
	margin: 2%;
}

.toku01 ul li img {
	width: 100%;
}

.toku01 ul li a {
	display: block;
}

.toku01 ul li a:hover img {
	margin: -3px;
	border: 3px solid #3DA34A;
}

.va_top {
	vertical-align: top !important;
}

.toku02 {
	width: 100%;
}

.toku02_inner {
	width: 96%;
	margin: 0 auto;
}

.toku_img {
	width: 30%;
	float: left;
	margin-right: 5%;
	margin-bottom: 20px;
}

.toku_img img {
	width: 100%;
}

.toku_inner_right {
	width: 65%;
	float: left;
}

.toku_inner_right p {
	margin-bottom: 10px;
	font-size: 14px;
}

.toku_btn {
	clear: both;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	border: 2px solid #EC6AA2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 20px;
}

.toku_btn a {
	display: block;
	padding: 10px 0;
	color: #EC6AA2;
	text-decoration: none;
}

.toku_btn a:hover {
	color: #FFF;
	background: #EC6AA2;
}

.toku_inner_right span {
	color: #006699;
}

.sub_footer {
	background: #DEF1F5;
	padding: 5px 0;
}

/*---------------------------------------------
	banner_season
  ---------------------------------------------*/

.season_main_txt {
	background: url(../images_nw/banner_season_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 140px;
	width: 140px;
}

.season_main_txt p {
	font-size: 10px;
	line-height: 1.2 !important;
	text-align: center;
	margin: 10px 0 0 0;
}

.season_tiket {
	width: 96%;
	margin: 0 auto;
	padding-bottom: 20px;
}

.season_tiket_inner h3 {
	width: 100%;
	height: 64px;
	font-size: 18px;
	color: #006699;
	margin-bottom: 10px;
	background: url(../images_nw/banner_season_icon_snowman.png) no-repeat left center, #F6F8FA;
}

.season_tiket_inner h3 span {
	display: table-cell;
	vertical-align: middle;
	height: 64px;
	padding-left: 64px;
}

.season_tiket_txt {
	margin-bottom: 10px;
}

.season_tiket_txt02 {
	margin: 10px;
}

.tiket_fee_h2 {
	height: 0;
	background: url(../images_nw/banner_season_title02.png) no-repeat left center;
	background-size: 100% auto;
	padding-top: 17%;
	position: relative;
	margin-bottom: 10px;
}


.tiket_fee_h3 {
	height: 0;
	background: url(../images_nw/banner_season_title03.png) no-repeat left center;
	background-size: 100% auto;
	padding-top: 17%;
	position: relative;
	margin-bottom: 10px;
}

.tiket_fee_h3 p {
	font-size: 24px;
	position: absolute;
	top: 35%;
	left: 12%;
}




.tiket_fee h4 {
	text-align: center;
	font-size: 18px;
	color: #FFF;
	padding: 15px 0;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-mozborder-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-mozborder-top-right-radius: 10px;
}
.doubleline { border-bottom: double 3px #ff0000; }


.tiket_fee_h2 p {
	font-size: 24px;
	position: absolute;
	top: 35%;
	left: 12%;
}



.tiket_fee {
	width: 96%;
	margin: 0 auto;
}

.tiket_fee_inner {
	background: #F6F8FA;
	padding: 2%;
	margin-bottom: 10px;
}

.tiket_fee_inner h4 {
	color: #EB633D;
	margin-bottom: 10px;
}

.tiket_fee_txt {
	margin-bottom: 10px;
}

.tiket_fee_txt span {
	color: #006699;
}

.tiket_fee_btn {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	background: #5d9cec;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 10px;
}

.tiket_fee_btn a {
	display: block;
	padding: 10px 20px;
	color: #FFF;
	text-decoration: none;
}

.tiket_fee_btn a:hover {
	opacity: 0.8;
}

.caution_txt {
	color: #FF0000;
	font-size: 14px;
	line-height: 1.2 !important;
	margin-bottom: 10px;
}

/*---------------------------------------------
	access
  ---------------------------------------------*/

.map {
	width: 96%;
	margin: 0 auto;
	text-align: center;
}

.map img {
	width: 100%;
}

.map p {
	margin-bottom: 10px;
}

.map_txt {
	text-align: left !important;
	font-size: 14px;
}



.access_btn {
	clear: both;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	border: 2px solid #EC6AA2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	background: #fff;
}

.access_btn a {
	display: block;
	padding: 10px 0;
	color: #EC6AA2;
	text-decoration: none;
}

.access_btn a:hover {
	color:#EC6AA2;
	background: #fff;
}


/*---------------------------------------------
	information_guide
  ---------------------------------------------*/

.guide_main_txt {
	background: url(../images_nw/information_guide_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 140px;
	width: 157px;
}

.guide_main_txt p {
	font-size: 12px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 12px 0 0 18px;
}

.btn_img {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.btn_img img {
	width: 100%;
}

.nav03 {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.nav03 li {
	float: left;
	width: 48%;
	font-size: 12px;
	text-align: center;
	margin: 1%;
}

.nav03 li img {
	width: 100%;
}

.hours_info {
	width: 100%;
	background: #DEF1F5;
}

.hours_info_sec {
	width: 96%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.hours_info_inner {
	text-align: center;
	padding: 20px 10px;
}

.bg_f {
	background: #FFF;
}

.bg_b {
	background: #F6F8FA;
}

.hours_info_inner h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

.hours_info_txt {
	margin-bottom: 10px;
}

.hours_info_caution {
	font-size: 14px;
	text-align: left !important;
}

.hours_info_h2 {
	width: 96%;
	margin: 0 auto;
	font-size: 22px;
	height: 35px;
	line-height: 35px;
	background: url(../images_nw/illustration05.png) no-repeat left center;
	margin-bottom: 20px;
}

.hours_info_h2 span {
	margin-left: 45px;
	color: #84A6B2;
}

.parking {
	width: 100%;
	margin-bottom: 20px;
}

.parking_inner {
	width: 96%;
	margin: 0 auto;
	text-align: center;
}

.parking_inner h4 {
	color: #FFF;
	font-size: 18px;
	width: 100%;
	padding: 15px 0;
	background: #5D9CEC;
}

.parking_txt {
	width: 100%;
	padding: 15px 0;
	background: #F6F8FA;
}

.parking_b {
	font-size: 18px;
	color: #5D9CEC;
	margin-bottom: 10px;
}

.parking_r {
	font-size: 18px;
	color: #FF0000;
	margin-bottom: 10px;
}

.lift_fee {
	width: 100%;
	background: #DEF1F5;
	padding-bottom: 5px;
}

.lift_fee_inner {
	width: 96%;
	margin: 0 auto;
}

.lift_fee_inner h3 img {
	width: 100%;
	margin-bottom: 10px;
}

.lift_fee_txt {
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 1.4 !important;
}

.lift_fee_inner h4 {
	text-align: center;
	font-size: 18px;
	color: #FFF;
	padding: 15px 0;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-mozborder-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-mozborder-top-right-radius: 10px;
}

.bg_g {
	background: #48CFAD;
}

.lift_fee_table {
	border: none;
	border-collapse: collapse;
	margin-bottom: 20px;
	width: 100%;
}
.lift_fee_table td {
	padding: 15px;
}

.bg_b02 {
	background: #5D9CEC;
}

.lift_fee_right {
	text-align: right;
}

.family_lift {
	width: 100%;
	border: none;
	border-collapse: separate;
	margin-bottom: 20px;
}

.family_lift th {
	text-align: center;
	background: #E3E4E8;
	padding: 10px;
}
.family_lift td {
	padding: 10px;
	text-align: center;
}
.td_gray {
	background: #F6F8FA;
}
.td_blue {
	background: #5D9CEC;
	color: #FFFFFF;
}
.td_white {
	background: #FFFFFF;
}

/*---------------------------------------------
	information_access
  ---------------------------------------------*/

.access_main_txt {
	background: url(../images_nw/information_access_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 146px;
}

.access_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 3px 0 0 0;
}


.access_map {
	width: 96%;
	margin: 0 auto;
}

.access_map p {
	margin-bottom: 10px;
}

.access_map p img {
	width: 100%;
}

.access_info {
	background: #DEF1F5;
	width: 100%;
}

.access_info_inner {
	width: 92%;
	margin: 0 auto;
	padding: 10px 2%;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 10px;
}

.access_info_inner h3 {
	font-size: 18px;
	height: 24px;
	line-height: 24px;
	color: #5D9CEC;
	margin-bottom: 5px;
}

.access_info_inner img {
	width: 100%;
}

.access_info_car {
	background: url(../images_nw/illustration10.png) no-repeat left center;
	background-size: contain;
}

.access_info_car span {
	margin-left: 36px;
}

.access_info_train {
	background: url(../images_nw/illustration06.png) no-repeat left center;
	background-size: contain;
}

.access_info_train span {
	margin-left: 20px;
}

.access_info_txt {
	font-size: 14px;
	text-decoration: underline;
	margin-bottom: 5px;
}

.bus_tour {
	width: 96%;
	margin: 0 auto;
	padding: 10px 0;
}

.departures {
	margin-bottom: 20px;
}

.departures li {
	float: left;
	width: 23%;
	text-align: center;
	font-size: 14px;
	margin: 0 1%;
	padding: 5px 0;
}

.departures01 {
	background: #FFBEB0;
}

.departures02 {
	background: #9FE2FF;
}

.departures03 {
	background: #E3DDFF;
}

.departures04 {
	background: #FFCDE1;
}

.bus_tour h2 {
	text-align: center;
}

.bus_tour h2 span {
	font-size: 22px;
}

.bus_tour_txt {
	margin-bottom: 10px;
}

.bus_tour_inner {
	margin-bottom: 10px;
}

.bus_tour_inner img {
	width: 100%;
	margin-bottom: 5px;
}

.bus_tour_inner ul li {
	background: url(../images_nw/check_mark.png) no-repeat left center;
	padding-left: 30px;
	font-size: 14px;
	margin-bottom: 3px;
}

.bus_tour_btn {
	margin-bottom: 15px;
}

.bus_tour_btn img {
	width: 100%;
}

.bus_tour_caution {
	font-size: 12px;
	line-height: 1.4 !important;
}

/*---------------------------------------------
	information_memberscard
  ---------------------------------------------*/

.memberscard_main_text {
	background: url(../images_nw/information_memberscard_mainvisual_card.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 1%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 102px;
}

.memberscard_main_text p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 6px 0 0 0;
}

.memberscard_btn {
	text-align: center;
	background: #FFF;
	width: 90%;
	margin: 0 auto;
	border: 2px solid #EC6AA2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 20px;
	clear: both;
}

.memberscard_txt_link {
	text-align: center;
	padding: 10px 0;
}

.memberscard_btn a {
	display: block;
	padding: 10px 0;
	color: #EC6AA2;
	text-decoration: none;
}

.memberscard_btn a:hover {
	color: #FFF;
	background: #EC6AA2;
}

.memberscard {
	padding-top: 10px;
}

.sec_bgb {
	background: #DEF1F5;
}

.sec_bgg {
	background: #cbe9e3;
}

.memberscard_sec {
	width: 96%;
	margin: 0 auto;
	font-size: 14px;
}

.memberscard_sec_inner {
	width: 62%;
}

.memberscard_sec_inner h3 {
	background: url(../images_nw/card_icon.png) no-repeat left center;
	background-size: contain;
	padding-left: 50px;
	font-size: 16px;
}

.memberscard_img_right, .memberscard_img_left {
	width: 38%;
}

.memberscard_img_right img, .memberscard_img_left img {
	width: 100%;
}

.memberscard_img_right {
	float: right;
	margin-bottom: 10px;
}

.memberscard_img_left {
	float: left;
	margin-bottom: 10px;
}

.memberscard_line01 img {
	width: 100%;
	margin-bottom: 10px;
}

.memberscard_sec_inner h4 {
	color: #35B8EE;
	margin-bottom: 10px;
	font-size: 16px;
}

.memberscard_sec_inner02 {
	width: 62%;
}

.memberscard_sec_inner02 h3 {
	background: url(../images_nw/card_icon.png) no-repeat left center;
	background-size: contain;
	padding-left: 50px;
	font-size: 16px;
}

.memberscard_sec_inner02 h4 {
	color:#009966;
	margin-bottom: 10px;
	font-size: 16px;
}

.memberscard_txt {
	font-size: 14px;
	margin-bottom: 10px;
}

input[type="checkbox"].on-off{
	display: none;
}

.memberscard_footer ul {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin: 0;
	padding: 0;
	list-style: none;
}

.memberscard_footer li {
	padding: 5px;
}

input[type="checkbox"].on-off + ul{
	height: 0;
	overflow: hidden;
}

input[type="checkbox"].on-off:checked + ul{
	width: 90%;
	height: auto;
	margin: 0 auto;
}

.memberscard_footer {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.memberscard_footer_btn {
	display: block;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0;
	background: #05B3EA;
	margin-bottom: 10px;
	color: #FFF;
}

.txt_red {
	color: #FF0000;
}



/*---------------------------------------------
	information_event
  ---------------------------------------------*/

.event_main_text {
	background: url(../images_nw/information_event_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 1%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 117px;
}

.event_main_text p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 6px 0 0 -15px;
}

.event {
	padding-top: 10px;
}

.event h3 {
	line-height: 1.2 !important;
}

.event_sec {
	width: 96%;
	margin: 0 auto;
	font-size: 14px;
}

.event_sec_inner {
	width: 62%;
}

.event_img_right, .event_img_left {
	width: 38%;
}

.event_img_right img, .event_img_left img {
	width: 100%;
}

.event_img_right {
	float: right;
	margin-bottom: 10px;
}

.event_img_left {
	float: left;
	margin-bottom: 10px;
}

.event_line01 img {
	width: 100%;
	margin-bottom: 10px;
}

.event_sec_inner h3 {
	font-size: 16px;
}

.event_txt {
	margin-bottom: 10px;
}

.event_week {
	margin-bottom: 10px;
}

.week, .prefectures {
	padding: 5px;
	width: 95%;
}

.week {
	color: #FFF;
}

.prefectures {
	background: #F6F8FA;
}

.monday {
	background: #2CB332;
}

.tuesday {
	background: #FF7F00;
}

.thursday {
	background: #F5CA01;
}

.friday {
	background: #6F559E;
}

.event_h3_01 {
	background: url(../images_nw/illustration11.png) no-repeat left center;
	background-size: contain;
	padding-left: 20px;
	font-size: 16px;
}

.event_h3_02 {
	background: url(../images_nw/illustration13.png) no-repeat left center;
	background-size: contain;
	padding-left: 25px;
	font-size: 16px;
}



.termination {
	text-decoration: line-through;
}

.termination_txt {
	color: #FF0000;
	font-size: 18px;
}

.event_h3_03 {
	background: url(../images_nw/illustration14.png) no-repeat left center;
	background-size: contain;
	padding-left: 30px;
	font-size: 16px;
}

.event_h3_04 {
	background: url(../images_nw/illustration13.png) no-repeat left center;
	background-size: contain;
	padding-left: 20px;
	font-size: 16px;
}

.event_h3_05 {
	background: url(../images_nw/illustration23.png) no-repeat left center;
	background-size: contain;
	padding-left: 25px;
	font-size: 16px;
}

.h3_2l {
	padding-left: 30px !important;
}

.h3_3l {
	padding-left: 50px !important;
}

.event_red {
	color: #FF0000;
}

.h3_2l02 {
	padding-left: 65px !important;
}

.date, .tournament {
	padding: 5px;
	width: 90%;
}

.date {
	color: #FFF;
	background: #DC77FF;
}

.tournament {
	background: #F6F8FA;
}

.tournament span {
	font-size: 18px;
}

/*---------------------------------------------
	information_FAQ
  ---------------------------------------------*/

.faq_main_text {
	background: url(../images_nw/information_faq_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 1%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 113px;
}

.faq_main_text p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 6px 0 0 -15px;
}

.faq {
	width: 96%;
	margin: 0 auto;
}

.faq_txt {
	margin-bottom: 20px;
}

dl.accordion {
	width:100%;
	font-size:16px;
	margin-bottom:20px;
}

.faq_q {
	border-top:1px solid #E9E9E9;
	color:#35B8EE;
	font-weight:bold;
	cursor:pointer;
	padding: 15px 15px 15px 40px;
	background: url(../images_nw/faq_q.png) no-repeat left center, url(../images_nw/link_arrow_gray.png) no-repeat right center;
}

.faq_q:last-of-type {
	border-bottom:1px solid #E9E9E9;
}

.faq_q .open {
	background: url(../images_nw/faq_q.png) no-repeat left center, #FFF;
}

.faq_a {
	background: #DEF1F5;
	padding: 15px 18px;
	display: none;
}

.faq_a p{
	padding-bottom:0px;
	text-align:right;
	font-weight:bold;
}

.faq_btn01 {
	text-align: center;
	width: 96%;
	margin: 0 auto;
	border: 2px solid #5D9CEC;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 20px;
	background: #FFF;
}

.faq_btn01 a {
	display: block;
	padding: 10px 0;
	color: #5D9CEC;
	text-decoration: none;
}

.faq_btn01 a:hover {
	color: #FFF;
	background: #5D9CEC;
}

/*よくある質問*/
.tb11 table{
	background:#fff;
	margin:0 auto;
	text-align:center;
	width:100%;

	padding:0 0;
	border-collapse: collapse;
	border: 2px #def1f5 solid;

}




.tb11 td{
	background:#ffffff;
	color:#5d9cec;
	width:33%;
	padding:2%x 0;
	text-align:center;
	border: 2px #def1f5 solid;

}

.faqt{
	background:#5d9cec;
	text-align:center;
	color:#fff;
	padding:2%x 0;
	border: 2px #def1f5 solid;

}

.faqtd{
	background:#f3f3f3;
	color:#333;
	padding:2%x 0;
	text-align:center;
	border: 2px #def1f5 solid;

}

/*---------------------------------------------
	information_rental
  ---------------------------------------------*/

.rental_main_txt {
	background: url(../images_nw/information_rental_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 1%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 119px;
}

.rental_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 10px 0 0 -15px;
}

.rental {
	width: 100%;
	padding: 0;
}

.rental_inner {
	width: 96%;
	margin: 0 auto;
}

.rental_table {
	color: #A4A9AE;
	border: none;
	border-collapse: collapse;
	margin-bottom: 20px;
	width: 100%;
}
.rental_table td {
	padding: 15px;
}

.rental_inner h4 {
	text-align: center;
	font-size: 18px;
	color: #FFF;
	padding: 15px 0;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-mozborder-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-mozborder-top-right-radius: 10px;
}

.tbl_h3 {
	background: #BBD5F5;
	color: #FFF;
}

.red {
	color: #FF0000;
	font-size: 14px;
}
.img_100 img {
	width: 100%;
	margin: 10px auto;
}

/*---------------------------------------------
	information_school_charge
  ---------------------------------------------*/

.school_main_txt {
	background: url(../images_nw/information_school_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 122px;
}

.school_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 10px 0 0 -11px;
}

.main_inner {
	width: 96%;
	margin: 0 auto;
	clear: both;
}

.main_head {
	text-align: center;
	color: #FFF;
	padding: 15px 0;
	width: 100%;
	margin: 0 auto;
	background: #2CB332;
}

.main_inner_txt {
	text-align: center;
	font-size: 14px;
	padding: 15px 0;
	width: 100%;
	margin: 0 auto;
	background: #F6F8FA;
}

.main_inner_txt span {
	font-size: 18px !important;
}

.main_inner_txt a {
	color: #35B8EE;
	text-decoration: none;
}

.main_inner_txt a:hover {
	opacity: 0.8;
	text-decoration: underline;
}

.main_inner_caution {
	padding: 10px 0;
	font-size: 14px;
	color: #FF0000;
}

.school_inner {
	width: 96%;
	margin: 0 auto;
}


.course_inner {
	width: 96%;
	margin: 0 auto 2% auto;
}


.school_table {
	border: none;
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 100%;
}

.school_table td {
	padding: 15px;
}

.school_right {
	text-align: right;
}

.school_txt {
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 1.4 !important;
}

.school_tbl_h3 {
	background: #BBD5F5;
	color: #FFFFFF;
}
.school_red {
	color: #FF0000;
	font-size: 12px;
}

.school_inner h4 {
	text-align: center;
	font-size: 18px;
	color: #FFF;
	padding: 15px 0;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-mozborder-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-mozborder-top-right-radius: 10px;
}

.btest {
	width: 90% !important;
}

.school h3 {
	padding: 15px 0;
	font-size: 18px;
	padding-left: 50px;
}

.school_h3_01 {
	background: url(../images_nw/illustration11.png) no-repeat left center;
	background-size: contain;
}

.school_h3_02 {
	background: url(../images_nw/illustration16.png) no-repeat left center;
	background-size: contain;
}

.school_h3_03 {
	background: url(../images_nw/illustration17.png) no-repeat left center;
	background-size: contain;
}

.school_line01 img {
	width: 90%;
	vertical-align: top !important;
}

.school_caution {
	color: #6699FF;
	font-size: 14px;
	margin-bottom: 10px;
}

.school_inner_txt {
	margin-bottom: 10px;
}

.school_btn {
	clear: both;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	border: 2px solid #EC6AA2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 20px;
	background: #FFF;
}

.school_btn a {
	display: block;
	padding: 10px 0;
	color: #EC6AA2;
	text-decoration: none;
}

.school_btn a:hover {
	color: #FFF;
	background: #EC6AA2;
}

/*---------------------------------------------
	information_batchtest
  ---------------------------------------------*/

.batchtest_main_txt {
	background: url(../images_nw/information_batchtest_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 123px;
}

.batchtest_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 15px 0 0 -15px;
}

.batchtest {
	width: 100%;
}

.batchtest_inner {
	width: 96%;
	margin: 0 auto;
}

.batchtest_right {
	width: 38%;
	float: right;
	margin-bottom: 10px;
}

.batchtest img {
	width: 100%;
}

.batchtest_sec {
	margin-bottom: 20px;
}

.batchtest_sec_inner {
	width: 62%;
	font-size: 14px;
}

.batchtest_txt {
	margin-bottom: 10px;
}

.batchtest_h3_01 {
	background: url(../images_nw/illustration12.png) no-repeat left center;
	background-size: contain;
	font-size: 18px;
	padding: 15px 0 15px 60px;
}

.batchtest_h3_02 {
	background: url(../images_nw/illustration12.png) no-repeat left center;
	background-size: contain;
	font-size: 18px;
	padding: 15px 0 15px 75px;
}

.batchtest_line01 img {
	width: 90%;
	vertical-align: top !important;
}

.batchtest_tbl_txt {
	padding: 10px;
}

.batchtest_inner h4 {
	text-align: center;
	font-size: 18px;
	color: #FFF;
	padding: 15px 0;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-mozborder-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-mozborder-top-right-radius: 10px;
}

.batchtest_btn {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	border: 2px solid #5D9CEC;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 20px;
	background: #FFF;
}

.batchtest_btn a {
	display: block;
	padding: 10px 0;
	color: #5D9CEC;
	text-decoration: none;
}

.batchtest_btn a:hover {
	color: #FFF;
	background: #5D9CEC;
}

/*---------------------------------------------
	information_centerhouse_guide
  ---------------------------------------------*/

.centerhouse_main_txt {
	background: url(../images_nw/information_centerhouse_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 119px;
}

.centerhouse_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 15px 0 0 -15px;
}

.main_img {
	margin-bottom: 10px;
}

.main_img img {
	width: 100%;
}

.centerhouse_sub_nav {
	width: 96%;
	margin: 0 auto;
	text-align: center;
}

.centerhouse_sub_nav li {
	display: inline-block;
	width: 30%;
	margin-bottom: 10px;
}

.centerhouse_sub_nav li img {
	width: 100%;
}

.centerhouse h2 {
	padding: 10px 0;
}

.sub_sec {
	width: 96%;
	margin: 0 auto;
	font-size: 14px;
}

.sec_inner {
	width: 62%;
	margin-bottom: 10px;
	overflow: hidden;
}

.sec_img_right, .sec_img_left {
	width: 36%;
	padding: 0 1%;
	margin-bottom: 10px;
}

.sec_img_right img, .sec_img_left img {
	width: 100%;
}

.sec_img_right {
	float: right;
	margin-bottom: 10px;
}

.sec_img_left {
	float: left;
	margin-bottom: 10px;
}

.sec_inner_txt {
	margin-bottom: 10px;
}

.sec_inner_txt span {
	color: #6699FF;
}


#news_inner {
	display: none;
}

.news_inner02 {
	background: #FFF;
}

.btn_pink {
	clear: both;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	border: 2px solid #EC6AA2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 20px;
	background: #FFF;
}

.btn_pink a {
	display: block;
	padding: 10px 0;
	color: #EC6AA2;
	text-decoration: none;
}

.btn_pink a:hover {
	color: #FFF;
	background: #EC6AA2;
}

/*---------------------------------------------
	family_skiing
  ---------------------------------------------*/

.family_skiing_main_txt {
	background: url(../images_nw/family_skiing_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 116px;
}

.family_skiing_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 7px 0 0 -10px;
}

.sec_img_center {
	text-align: center;
	margin-bottom: 10px;
}

.sec_img_center img {
	width: 96%;
	height: auto;
}

.sub_sec h4 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
}

.family_skiing_h3 {
	font-size: 16px;
}

.sec_h3_line img {
	width: 100%;
	vertical-align: top !important;
}

/*---------------------------------------------
	slope_guide
  ---------------------------------------------*/

.slope_guide_main_txt {
	background: url(../images_nw/slope_guide_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 123px;
}

.slope_guide_main_txt p {
	font-size: 12px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 10px 0 0 -10px;
}

.sec_bgf {
	background: #FFF !important;
}

.madd {
	margin-bottom: 10px !important;
}

.course_tbl {
	width: 100%;
	border-collapse: separate;
	margin-bottom: 10px;
}
.course_tbl th {
	color: #FFF;
	background: #3FA735;
	text-align: left;
	padding: 5px;
}
.course_tbl td {
	color: #666;
	background: #FFF;
	padding: 5px;
}

.slope_guide_h3 {
	font-size: 16px;
	padding: 10px 0 10px 40px;
	background: url(../images_nw/illustration18.png) no-repeat left center;
	background-size: contain;
}

.slope_guide_h3_02 {
	font-size: 16px;
	padding: 10px 0 10px 60px;
	background: url(../images_nw/illustration18.png) no-repeat left center;
	background-size: contain;
}

.slope_guide_h3_03 {
	font-size: 16px;
	padding: 10px 0 10px 50px;
	background: url(../images_nw/illustration19.png) no-repeat left center;
	background-size: contain;
}

.course_menu {
	margin-bottom: 10px;
	padding: 5px 0;
}

.course_menu li {
	float: left;
	width: 25%;
	font-size: 12px;
	text-align: center;
	color: #FFF;
}

.btn_off {
	background: #EEE;
}

.kids_on {
	background: #39BAA6;
}

.elementary_on{
	background: #FFAE00;
}

.intermediate_on {
	background: #E6AAE1;
}

.senior_on {
	background: #FF8C77;
}

.ski_on {
	background: #4AC5EF;
}

.snowboard_on {
	background: #1960B0;
}

.nighter_on {
	background: #404D6F;
}

.slope_box {
	padding: 5px;
	background: #FFF;
	box-shadow:rgba(0, 0, 0, 0.298039) 0px 0px 5px 1px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.298039) 0px 0px 5px 1px;
	-moz-box-shadow:rgba(0, 0, 0, 0.298039) 0px 0px 5px 1px;
	margin-bottom: 10px;
}

.slope_line01 img {
	margin-bottom: 10px;
	width: 100%;
}

.sec_bgp {
	background: #FFE1EE;
}

.slope_small {
	font-size: 14px;
}

.slope_movie {
	width: 100%;
	margin: 0 auto;
}

.slope_movie_inner {
	background: #DEF1F5;
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	margin-bottom: 10px;
}

.slope_movie_inner iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}

/*---------------------------------------------
	hollyplace
  ---------------------------------------------*/

.hollyplace_main_txt {
	background: url(../images_nw/hollyplace_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 114px;
}

.hollyplace_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 13px 0 0 -12px;
}

.hollyplace_h2 {
	font-size: 18px;
	color: #EC6AA2;
	padding: 5px 2%;
}

.main_small_txt {
	font-size: 12px;
	margin-bottom: 10px;
	padding: 0 2%;
}

.hollyplace_h3 {
	font-size: 16px;
	color: #369;
}

.hollyplace_h3_02 {
	font-size: 16px;
	color: #F6C;
}

.hollyplace_h4 {
	width: 96%;
	color: #FFF;
	background: #FF6E8C;
	padding: 10px 2%;
	margin-bottom: 10px;
	text-align: center;
}

.event_date {
	margin-bottom: 10px;
}

.pink_em {
	color: #EC6AA2;
	font-size: 16px;
}

.blue_em {
	color: #6699FF;
	font-size: 16px;
}

.btn_blue {
	clear: both;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	border: 2px solid #5D9CEC;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 20px;
	background: #FFF;
}

.btn_blue a {
	display: block;
	padding: 10px 0;
	color: #5D9CEC;
	text-decoration: none;
}

.btn_blue a:hover {
	color: #FFF;
	background: #5D9CEC;
}

.txt_pink {
	color: #EC6AA2;
}

.txt_pink a {
	color: #EC6AA2;
	text-decoration: none;
}

.txt_pink a:hover {
	opacity: 0.8;
	text-decoration: underline;
}

/*---------------------------------------------
	banner_discount
  ---------------------------------------------*/

.discount_main_txt {
	background: url(../images_nw/discount_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 114px;
}

.discount_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 18px 0 0 -12px;
}

.sub_sec_txt_02 {
	margin-bottom: 10px;
}

.red_em {
	color: #F00;
	font-size: 16px;
}

/*---------------------------------------------
	information_snowboad_resson
  ---------------------------------------------*/

.snowboad_resson_main_txt {
	background: url(../images_nw/information_sr_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 118px;
}

.snowboad_resson_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 7px 0 0 -12px;
}

.snowboad_resson_h3 span {
	color: #EB633D;
	font-size: 16px;
}

.txt_blue {
	color: #6699FF;
}

.snowboad_resson_h4 {
	font-size: 16px;
}

.snowboad_resson_h4 span {
	color: #EC6F4F;
}

.padding_add {
	padding-top: 10px;
}

.harf_day {
	width: 40%;
	color: #FFF;
	text-align: center;
	background: #0077A5;
	padding: 5px 0;
	margin-bottom: 10px;
	display: inline-block;
}

.one_day {
	width: 40%;
	color: #FFF;
	text-align: center;
	background: #EC6F4F;
	padding: 5px 0;
	margin-bottom: 10px;
	display: inline-block;
}

/*---------------------------------------------
	information_restaurant
  ---------------------------------------------*/

.information_restaurant_main_txt {
	background: url(../images_nw/information_restaurant_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 115px;
}

.information_restaurant_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 7px 0 0 -12px;
}

.pickup_menu {
	clear: both;
	width: 92%;
	margin: 0 auto;
	padding: 2%;
	background: #F6FDFE;
	margin-bottom: 10px;
}

.pickup_menu_img {
	float: left;
	width: 30%;
	margin-right: 10px;
}

.pickup_menu_img img {
	width: 100%;
}

.pickup_menu_right {
	float: left;
	width: 65%;
}

.pickup_menu h3 {
	color: #EB633D;
	border-bottom: 2px solid #EB633D;
	margin-bottom: 5px;
	font-size: 16px;
}

/*---------------------------------------------
	family_childrenplayg
  ---------------------------------------------*/

.family_childrenplayg_main_txt {
	background: url(../images_nw/family_child_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 115px;
}

.family_childrenplayg_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 7px 0 0 -12px;
}

.family_childrenplayg_h3 {
	color: #6699FF;
	background: url(../images_nw/illustration19.png) no-repeat left center;
	background-size: contain;
	font-size: 18px;
	padding: 10px 0 10px 35px;
}

.family_childrenplayg_h3_02 {
	color: #6699FF;
	background: url(../images_nw/illustration19.png) no-repeat left center;
	background-size: contain;
	font-size: 18px;
	padding: 10px 0 10px 45px;
}

.family_childrenplayg_h3_03 {
	color: #6699FF;
	background: url(../images_nw/illustration19.png) no-repeat left center;
	background-size: contain;
	font-size: 18px;
	padding: 10px 0 10px 65px;
}

/*---------------------------------------------
	information_centerhouse_guide
  ---------------------------------------------*/

.junior_resson_main_txt {
	background: url(../images_nw/junior_resson_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 115px;
}

.junior_resson_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 15px 0 0 -8px;
}

.sec_header {
	width: 96%;
	margin: 0 auto;
	padding: 10px 0;
}

.sec_header img {
	width: 100%;
}

.junior_resson_table {
	clear:both;
	width: 100%;
	margin-bottom: 10px;
}

.junior_resson_td01 {
	width: 20%;
	color: #FFF;
	background: #06B4EA;
	text-align: center;
}

.junior_resson_td02 {
	width: 80%;
	background: #F6F8FA;
	padding: 5px;
}

/*---------------------------------------------
	tour
  ---------------------------------------------*/

.tour_main_txt {
	background: url(../images_nw/bustour_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 1%;
	text-align: center;
	color:#FFF;
	height: 130px;
	width: 118px;
}

.tour_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 5px 0 0 -8px;
}

.sec_banner {
	width: 96%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}

.sec_banner img {
	width: 100%;
	height: auto;
}

.sub_sec_txt {
	text-align: center;
	padding: 10px 0;
}

.tour_sec {
	width: 100%;
	padding-top: 10px;
	position: relative;
}

.tour_question_txt {
	font-size: 16px;
	margin-bottom: 10px;
}

.tour_question_txt span {
	color: #FF0000;
	margin-right: 5px;
}

.tour_question {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	background: #FFF;
	padding: 10px 5px;
	margin-bottom: 10px;
}

.tour_btn {
	display: inline-block;
}

.tour_btn img {
	width: 80%;
}

#question_01 {
	background: #016FBD;
}

#question_02 {
	background: #2886C8;
}

#question_03 {
	background: #0093EA;
}

#question_04 {
	background: #1D9DE9;
}

#question_05 {
	background: #42B8FE;
}

.tour_img_center {
	text-align: center;
}

.tour_img_center img {
	width: 100%;
}

.tour_next {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -33px;
}

.tour_next img {
	width: 80%;
}

.tour_text_link {
	font-size: 12px;
	margin-bottom: 5px;
	width: 96%;
	text-align: center;
}

/*---------------------------------------------
	lecture_familyski1
  ---------------------------------------------*/

.lecture01_main_txt {
	background: url(../images_nw/lecture_familyski_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 1%;
	text-align: center;
	color: #FFF;
	height: 135px;
	width: 104px;
}

.lecture01_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 10px 0 0 -1px;
}

.lecture_nav {
	width: 96%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding: 15px 0 0;
	margin-bottom: 15px;
}

.lecture_nav_bg img {
	width: 100%;
}

.lecture_nav ul {
	margin-right: auto;
	margin-left: auto;
	width: 94%;
	position: absolute;
	bottom: 15%;
	left: 1%;
	right: 0;
}

.lecture_nav li {
	float: left;
	width: 33%;
}

.lecture_nav li img {
	width: 100%;
}

.blackboard {
	width: 96%;
	margin: 0 auto;
	margin-bottom: 15px;
}

.blackboard img {
	width: 100%;
}

.lecture_subnav {
	width: 96%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.lecture_subnav li {
	width: 25%;
	float: left;
}

.lecture_subnav li img {
	width: 100%;
}

.padding_add {
	padding-top: 20px;
}

.margin_add {
	margin-bottom: 25px !important;
}

.familyski1_h3 {
	font-size: 16px;
}

.lecture_img_right {
	float: right;
	width: 30%;
	border: 1px solid #CCC;
	padding: 5px;
	background-color: #FFF;
	margin-left: 1em;
}

.lecture_img_right img {
	width: 100%;
}

.lecture_img_center {
	border: 1px solid #CCC;
	padding: 5px;
	background-color: #FFF;
	margin-bottom: 10px;
}

.lecture_img_center img {
	width: 100%;
}

.lecture_img_2col {
	float: left;
	width: 45%;
	border: 1px solid #CCC;
	padding: 5px;
	background-color: #FFF;
	margin-bottom: 10px;
}

.lecture_img_2col img {
	width: 100%;
}

.col_right {
	margin-left: 2%;
}

.fs1_01 {
	padding: 10px 0 10px 35px;
	background: url(../images_nw/illustration16.png) no-repeat left center;
	background-size: contain;
}

.fs1_02 {
	padding: 10px 0 10px 43px;
	background: url(../images_nw/illustration22.png) no-repeat left center;
	background-size: contain;
}

.fs1_03 {
	padding: 10px 0 10px 40px;
	background: url(../images_nw/illustration17.png) no-repeat left center;
	background-size: contain;
}

.fs1_04 {
	padding: 10px 0 10px 60px;
	background: url(../images_nw/illustration11.png) no-repeat left center;
	background-size: contain;
}

.fs1_05 {
	padding: 10px 0 10px 35px;
	background: url(../images_nw/illustration16.png) no-repeat left center;
	background-size: contain;
}

.fs1_06 {
	padding: 10px 0 10px 63px;
	background: url(../images_nw/illustration22.png) no-repeat left center;
	background-size: contain;
}

.fs1_07 {
	padding: 10px 0 10px 60px;
	background: url(../images_nw/illustration11.png) no-repeat left center;
	background-size: contain;
}

/*---------------------------------------------
	lecture_familyski2
  ---------------------------------------------*/

.lecture02_main_txt {
	background: url(../images_nw/lecture_familyski_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 1%;
	text-align: center;
	color: #FFF;
	height: 135px;
	width: 104px;
}

.lecture02_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 5px 0 0 -1px;
}

.fs2_01 {
	padding: 10px 0 10px 35px;
	background: url(../images_nw/illustration16.png) no-repeat left center;
	background-size: contain;
}

.fs2_02 {
	padding: 10px 0 10px 43px;
	background: url(../images_nw/illustration22.png) no-repeat left center;
	background-size: contain;
}

.fs2_03 {
	padding: 10px 0 10px 40px;
	background: url(../images_nw/illustration17.png) no-repeat left center;
	background-size: contain;
}

.fs2_04 {
	padding: 10px 0 10px 40px;
	background: url(../images_nw/illustration11.png) no-repeat left center;
	background-size: contain;
}

.fs2_05 {
	padding: 10px 0 10px 50px;
	background: url(../images_nw/illustration16.png) no-repeat left center;
	background-size: contain;
}

.fs2_06 {
	padding: 10px 0 10px 45px;
	background: url(../images_nw/illustration22.png) no-repeat left center;
	background-size: contain;
}

.fs2_07 {
	padding: 10px 0 10px 60px;
	background: url(../images_nw/illustration11.png) no-repeat left center;
	background-size: contain;
}

.fs2_08 {
	padding: 10px 0 10px 60px;
	background: url(../images_nw/illustration17.png) no-repeat left center;
	background-size: contain;
}

.selection {
	display: none;
}
#page-1 {
	display: block;
}

.selection {
	width: 96%;
	margin: 0 auto;
}

.selection img {
	width: 100%;
	margin-bottom: 10px;
}

.pagination-holder {
	width: 96%;
	margin: 0 auto;
}

.selection_txt {
	text-align: center;
	margin-bottom: 10px;
}

.selection_txt02 {
	margin-bottom: 10px;
}

/*---------------------------------------------
	lecture_familyski3
  ---------------------------------------------*/

.lecture03_main_txt {
	background: url(../images_nw/lecture_familyski_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 1%;
	text-align: center;
	color: #FFF;
	height: 135px;
	width: 104px;
}

.lecture03_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 5px 0 0 -1px;
}

.fs3_01 {
	padding: 10px 0 10px 45px;
	background: url(../images_nw/illustration16.png) no-repeat left center;
	background-size: contain;
}

.fs3_02 {
	padding: 10px 0 10px 43px;
	background: url(../images_nw/illustration22.png) no-repeat left center;
	background-size: contain;
}

.fs3_03 {
	padding: 10px 0 10px 55px;
	background: url(../images_nw/illustration17.png) no-repeat left center;
	background-size: contain;
}

.fs3_04 {
	padding: 10px 0 10px 55px;
	background: url(../images_nw/illustration11.png) no-repeat left center;
	background-size: contain;
}

.fs3_05 {
	padding: 10px 0 10px 50px;
	background: url(../images_nw/illustration16.png) no-repeat left center;
	background-size: contain;
}

.fs3_08 {
	padding: 10px 0 10px 40px;
	background: url(../images_nw/illustration17.png) no-repeat left center;
	background-size: contain;
}

/*---------------------------------------------
	lecture_board
  ---------------------------------------------*/

.lecture_board_main_txt {
	background: url(../images_nw/information_sr_mainvisual_snowman.png) no-repeat;
	background-size: contain;
	background-position: bottom right;
	position: absolute;
	bottom: 0%;
	right: 1%;
	text-align: center;
	color: #FFF;
	height: 135px;
	width: 104px;
}

.lecture_board_main_txt p {
	font-size: 10px;
	line-height: 1.4 !important;
	text-align: center;
	margin: 24px 0 0 -15px;
}

.sec_lecture_board {
	padding-bottom: 1px;
}

.sec_lecture_board .open {
	background: none !important;
}

.sec_lecture_board .open img {
	opacity: 1 !important;
}

.board_header_img {
	margin-bottom: 15px;
}

.board_header_img img {
	width: 100%;
}

.board_inner {
	display: none;
}

.board_inner_img {
	float: left;
	width: 30%;
	margin: 0 10px 10px 0;
	padding: 3px;
	background: #FFF;
	border: 1px solid #CCC;
}

.board_inner_img img {
	width: 100%;
}

.board_inner_txt {
	margin-bottom: 10px;
	overflow: hidden;
}

.board_point {
	clear: both;
	background: #DEF1F5;
	padding: 10px;
	margin-bottom: 10px;
}

.board_point_txt {
	width: 77%;
	overflow: hidden;
}

.board_point_img_right {
	float: right;
	width: 20%;
}

.board_point_img_right img {
	width: 100%;
}

.board_inner_img_r {
	float: right;
	width: 30%;
	margin: 0 0 10px 10px;
	padding: 3px;
	background: #FFF;
	border: 1px solid #CCC;
}

.board_inner_img_r img {
	width: 100%;
}

.board_point_img_left {
	float: left;
	width: 20%;
	margin-right: 3%;
}

.board_point_img_left img {
	width: 100%;
}

.board_point_txt_right {
	width: 77%;
	float: right;
	overflow: hidden;
}

.board_inner_img02 {
	float: left;
	width: 50%;
	margin: 0 10px 0 0;
}

.board_inner_img02 img {
	width: 100%;
}

.board_inner_img_r02 {
	float: right;
	width: 50%;
	margin: 0 0 0 10px;
}

.board_inner_img_r02 img {
	width: 100%;
}

.board_inner_txt02 {
	margin-bottom: 10px;
}

.sec_lecture_board h2 {
	padding-top: 10px;
}

.board_inner_img03 {
	float: left;
	width: 40%;
	margin: 0 10px 0 0;
}

.board_inner_img03 img {
	width: 100%;
}

.board_inner_txt03 {
	margin-bottom: 10px;
	font-size: 18px;
}

.board_inner_img_margin {
	margin-bottom: 10px;
}

/*---------------------------------------------
	SnowPark
  ---------------------------------------------*/

#snowboard_main_visual {
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 15px;
	display: block;

}

.snowboard_main_text {
	position: absolute;
	top: 35%;
	text-align: center;
	margin: auto;
	width: 100%;
}

.snowboard_title01, .snowboard_title02 {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.snowboard_title01 {
	font-size: 18px;
	margin-bottom: 20px;
}

.snowboard_title02 {
	font-size: 28px;
}

.snowboard_header {
	background: #3BBDFB;
	margin-bottom: 10px;
}

.sec_snowboard h2 {
	height: 50px;
	line-height: 50px;
	color: #FFF;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.snowboard_h2_01 {
	background: url(../images_nw/snowpark_icon01.png) no-repeat left bottom;
	background-size: contain;
}

.snowboard_h2_02 {
	background: url(../images_nw/snowpark_icon02.png) no-repeat left bottom/*, url(../images_nw/instagram_Icon.png) no-repeat right center*/;
	background-size: contain;
}

.snowboard_h2_03 {
	background: url(../images_nw/snowpark_icon03.png) no-repeat left bottom;
	background-size: contain;
}

.snowboard_h2_04 {
	background: url(../images_nw/snowpark_icon04.png) no-repeat left bottom;
	background-size: contain;
}

.snowboard_h2_05 {
	background: url(../images_nw/snowpark_icon04.png) no-repeat left bottom;
	background-size: contain;
}

.snowboard_h2_01 span {
	padding-left: 50px;
}

.snowboard_h2_02 span {
	padding-left: 50px;
}

.snowboard_h2_03 span {
	padding-left: 60px;
}

.snowboard_h2_04 span {
	padding-left: 60px;
}

.snowboard_h2_05 span {
	padding-left: 60px;
}

.snowboard_news {
	padding: 0 5px;
}

.snowboard_news_img {
	margin-bottom: 10px;
}

.snowboard_news_img img {
	width: 100%;
}

.snowboard_news h3 {
	font-size: 16px;
	font-weight: bold;
	color: #3BBDFB;
	margin-bottom: 10px;
}

.snowboard_news_txt {
	margin-bottom: 10px;
}

.snowboard_news_btn {
	font-size: 18px;
	text-align: center;
	background: #3BBDFB;
	padding: 10px 20px;
	width: 30%;
	margin: 0 auto;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	margin-bottom: 20px;
}

.snowboard_news_btn a {
	display: block;
	color: #FFF;
	text-decoration: none;
}

.snowboard_news_btn a:hover {
	opacity: 0.7;
}

/* SuperBox */

.superbox {
	margin-bottom: 20px;
}

.superbox-list {
	display:inline-block;
	*display:inline;
	zoom:1;
	width:12.5%;
}
.superbox-img {
	max-width:100%;
	width:100%;
	cursor:pointer;
}
.superbox-show {
	text-align:center;
	position:relative;
	background:#333;
	box-shadow:inset 0 1px 5px #111;
	-webkit-box-shadow:inset 0 1px 5px #111;
	-moz-box-shadow:inset 0 1px 5px #111;
	float:left;
	padding:25px;
	display:none;
}
.superbox-current-img {
	max-width:90%;
	box-shadow:0 1px 4px #222;
	border:1px solid #222;
}
.superbox-img:hover {
	opacity:0.8;
}
.superbox-float {
	float:left;
}
.superbox-close {
	opacity:0.7;
	cursor:pointer;
	position:absolute;
	top:12px;
	right:12px;
	background:url(../images_nw/close.gif) no-repeat center center;
	width:20px;
	height:20px;
}
.superbox-close:hover {
	opacity:1;
}
@media only screen and (min-width: 320px) {
	.superbox-list {
		width:25%;
	}
}
@media only screen and (min-width: 486px) {
	.superbox-list {
		width:25%;
	}
}
@media only screen and (min-width: 768px) {
	.superbox-list {
		width:16.66666667%;
	}
}
@media only screen and (min-width: 1025px) {
	.superbox-list {
		width:12.5%;
	}
}

.beginners_inner {
	padding: 0 5px;
}

.snowboard_h3 {
	font-size: 16px;
	font-weight: bold;
	color: #3BBDFB;
	margin-bottom: 10px;
}

.beginners_inner p {
	margin-bottom: 10px;
}

.coarse_img {
	margin-bottom: 10px;
}

.coarse_img img {
	width: 100%;
}

.snowpark_tbl {
	width: 100%;
	border-collapse: separate;
	margin-bottom: 10px;
}

.snowpark_tbl th {
	color: #FFF;
	background: #3BBDFB;
	text-align: left;
	padding: 5px;
	width: 25%;
}

.snowpark_tbl td {
	color: #000;
	background: #D5F1FF;
	padding: 5px;
	width: 25%;
}

.pro_sec {
	padding: 15px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 10px;
}

.pro_sec img {
	width: 100%;
	margin-bottom: 10px;
}

.pro_sec_txt {
	color: #FFF;
}

.pro_sec_txt a {
	color: #FFF;
}

.fb_wrap {
	margin-bottom: 20px;
	padding: 10px;
}

.fb_wrap iframe {
	width: 100% !important;
}

/*---------------------------------------------
	SnowPark News
  ---------------------------------------------*/

.blog_main_text {
	position: absolute;
	top: 25%;
	text-align: center;
	margin: auto;
	width: 100%;
}

.snowboard_blog {
	padding: 20px 10px;
	background: url(../images_nw/snowpark_news_bgline.jpg);
}

.snowboard_blog_title {
	display: table;
}

.snowboard_blog_title p {
	display: table-cell;
	vertical-align: middle;
}

.blog_title_txt {
	font-size: 18px;
	color: #3BBDFB;
}

.snowboard_blog_date {
	text-align: right;
	margin-bottom: 10px;
}

.snowboard_blog_img {
	margin-bottom: 10px;
}

.snowboard_blog_img img {
	border: 1px solid #CCC;
	padding: 2%;
	background-color: #FFF;
	width: 96%;
	text-align: center;
}

.snowboard_blog_txt {
	padding: 0 5px;
	margin-bottom: 10px;
}

.blog_nav {
	padding: 0 5px;
	margin-bottom: 20px;
}

.blog_prev {
	float: left;
	background: url(../images_nw/snowpark_news_arrow01.png) no-repeat left center;
}

.blog_prev span {
	padding-left: 25px;
}

.blog_next {
	float: right;
	background: url(../images_nw/snowpark_news_arrow02.png) no-repeat right center;
}

.blog_next span {
	padding-right: 25px;
}

.blog_prev a, .blog_next a {
	text-decoration: none;
	color: #84A6B2;
}

.blog_sec {
	background: #3BBDFB;
	padding: 10px 0;
	margin: 0 10px 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.blog_header {
	margin-bottom: 10px;
}

.backnumber {
	height: 40px;
	line-height: 40px;
	color: #FFF;
	font-size: 18px;
	margin: 0;
	padding: 0;
	background: url(../images_nw/snowpark_news_icon_white.png) no-repeat left bottom;
	background-size: contain;
}

.backnumber span {
	padding-left: 50px;
}

.backnumber_inner {
	padding: 0 15px;
	margin-bottom: 5px;
}

.backnumber_inner li {
	background: url(../images_nw/snowpark_news_icon_white_s.png) no-repeat left bottom;
	background-size: contain;
	margin-bottom: 5px;
	font-size: 14px;
}

.backnumber_inner li a {
	color: #FFF;
}

.backnumber_inner li span {
	padding-left: 30px;
}
