#wrapper{
	overflow: hidden;
}
.open-menu {
	font-size: 0;
	line-height: 0;
	width: 26px;
	height: 26px;
	padding: 0;
	border-radius: 3px;
	cursor: pointer;
	z-index: 3;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.open-menu span {
	display: block;
	border: solid transparent;
	border-width: 0;
	height: 2px;
	position: relative;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background: white;
	background-clip: padding-box;
	border-radius: 4px;
}
.open-menu:before,
.open-menu:after{
	position: absolute;
	left: 0;
	right: 0;
	content: '';
	top: 4px;
	height: 2px;
	background: white;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	border-radius: 4px;
}
.open-menu:after{
	top: auto;
	bottom: 4px;
}
.menu-opened .open-menu {
	z-index:150;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.menu-opened .open-menu span {background: transparent;}
.menu-opened .open-menu:before{
	top: 50%;
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.menu-opened .open-menu:after{
	top: 50%;
	bottom: auto;
	-ms-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
#drop-panel{
	display: none;
}
.top-panel{
	position: relative;
	background: rgb(0, 188, 238);
	height: 43px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	z-index: 100;
}
.top-panel .logo{
	margin-left: 50px;
}
.top-panel .logo img{
	display: block;
	height: 43px;
	width: auto;
}
.top-panel .lang,
.top-panel .open-menu{
	position: absolute;
}
.top-panel .lang{
	top: 50%;
	right: 60px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	line-height: 1;
}
.top-panel .lang a{
	color: #fff;
	text-decoration: none;
}
.top-panel .lang a:hover{
	text-decoration: underline;
}
.top-panel .open-menu{
	top: 50%;
	right: 12px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#drop-panel .info{
	padding: 6px;
	background: rgb(239, 250, 255);
	font-size: 12px;
	color: rgb(24, 98, 158);
	text-align: center;
	margin-bottom: 12px;
}
#drop-panel .info .title{
	display: inline-block;
	color: rgb(105, 203, 240);
	margin-right: 10px;
}
#drop-panel .links{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 12px;
}
#drop-panel .links li{
	width: 33.33%;
}
#drop-panel .links a,
#drop-panel .links img{
	display: block;
	width: 100%;
	margin: 0 auto;
}
.main{
	display: block;
	text-align: center;
	background: rgb(199, 239, 255);
}
.tenki-page{
	padding-top: 23px;
}
.tenki-page .main-title img{
	display: block;
	margin: 0 auto;
	max-width: 96px;
}
.condition-page .main-title img{
	display: block;
	margin: 0 auto;
	max-width: 212px;
}
.tenki-page .main-title{
	margin-bottom: 25px;
}
.main .forecast-date,
.main .week-forecast-title{
	font-size: 12px;
	line-height: 1;
	color: rgb(249, 159, 71);
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}
.today-weather{
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
}
.snowman{
	position: absolute;
	left: 20px;
	bottom: 120px;
}
.snowman img{
	width: 53px;
}
.snow{
	position: absolute;
}
.snow img{
	position: absolute;
}
.snow-1 img,
.snow-3 img,
.snow-5 img{
	width: 20px;
}
.snow-2 img,
.snow-4 img{
	width: 35px;
}
.tenki-page .snow-1{
	left: -20px;
	bottom: 188px;
}
.tenki-page .snow-2{
	bottom: 171px;
	left: -4px;
}
.tenki-page .snow-3{
	top: -84px;
	left: 184px;
}
.tenki-page .snow-4{
	right: 51px;
	top: -70px;
}
.tenki-page .snow-5{
	right: 7px;
	top: -73px;
}
.condition-page .snowman{
	position: absolute;
	left: -56px;
	bottom: 15px;
	-webkit-animation: snowman 2s linear infinite;
	animation: snowman 2s linear infinite;
}
.condition-page .snow-1{
	left: -124px;
	bottom: 124px;
}
.condition-page .snow-2{
	bottom: 114px;
	left: -108px;
}
.condition-page .snow-4{
	right: -81px;
	top: -37px;
}
.today-weather-list,
.week-forecast{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0;
}
.week-forecast{
	margin-bottom: 23px;
	padding: 0 29px;
}
.today-weather-list li,
.week-forecast li{
	text-align: center;
	list-style: none;
}
.today-weather-list li{
	margin-right: 33px;
}
.week-forecast li{
	padding: 0 10px 10px;
}
.today-weather-list li:last-child,
.week-forecast li:last-child{
	margin-right: 0;
}
.today-weather-list h3,
.week-forecast h3{
	display: block;
	color: rgb(102, 102, 102);
	font-weight: bold;
}
.today-weather-list h3{
	font-size: 10px;
	margin: 0 0 5px;
}
.week-forecast h3{
	font-size: 10px;
	line-height: 12px;
	margin: 0 0 15px;
}
.today-weather-list img,
.week-forecast img{
	display: block;
	margin: 0 auto;
	width: 44px;
	height: auto;
}
.today-weather-list .temp{
	margin-top: 20px;
	display: block;
	font-size: 23px;
	line-height: 1;
	color: rgb(53, 184, 238);
	font-weight: bold;
}
.bottom-banner{
	padding-bottom: 20px;
}
.bottom-banner img{
	width: 100%;
	max-width: 260px;
	margin: 0 auto;
}
footer{
	background: rgb(0, 188, 238);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 25px 0 11px;
}
footer .logo img{
	display: block;
	height: 41px;
}
footer .content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
footer .content a,
footer .content img{
	display: block;
}
footer .content .phone{
	margin-bottom: 5px;
}
footer .content .phone img{
	width: 74px;
}
footer .content .text img{
	width: 169px;
}

.condition-page{
	padding-top: 17px;
}
.condition-page .main-title{
	margin-bottom: 15px;
}
.condition-page .info{
	display: inline-block;
	position: relative;
	margin-bottom: 5px;
}
.condition-page .info .content{
	display: inline-block;
	margin-bottom: 26px;
}
.condition-page .info .content .snow-now{
	margin: 0;
}
.condition-page .info .content .snow-now h3{
	display: block;
	font-size: 10px;
	line-height: 1;
	font-weight: bold;
	color: rgb(102, 102, 102);
	margin: 0 0 10px;
}
.condition-page .info .content .snow-now .amount{
	font-size: 25px;
	line-height: 1;
	color: rgb(61, 121, 176);
}
.condition-page .details{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}
.condition-page .details li{
	padding: 0 0 6px;
	min-width: 62px;
}
.condition-page .details .title{
	margin-bottom: 8px;
}
.condition-page .details .title img{
	height: 8px;
	width: auto;
}
.condition-page .details .status img{
	width: 48px;
	height: 21px;
}
.condition-page .details img{
	display: block;
	margin: 0 auto;
}
.condition-page .condition-info{
	max-width: 250px;
	margin: 0 auto 15px;
}
.condition-page .condition-info .text{
	padding: 10px;
	margin: 0 0 23px;
	background: #fff;
	font-size: 11px;
	line-height: 16px;
	color: rgb(72, 63, 139);
	font-weight: bold;
	border-radius: 4px;
	text-align: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.condition-page .condition-info .text p:last-child{
	margin-bottom: 0;
}
@-webkit-keyframes snowman {
	0%    {bottom: 5px;}
	50%   {bottom: 25px;}
	100%  {bottom: 5px;}
}
@keyframes snowman {
	0%    {bottom: 5px;}
	50%   {bottom: 25px;}
	100%  {bottom: 5px;}
}

.contentb_area{
	max-width: 1100px;
	margin: 0 auto;
}
.road-map{
	position: relative;
	text-align: center;
	margin: 0 0 20px;
	overflow: hidden;
}
.road-map img{
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}
.road-map .descr{
	display: block;
	max-width: 275px;
	color: #3d79b1;
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	margin: 0 auto 10px;
}
.road-map .descr sup{
	display: block;
	text-align: left;
	padding: 10px;
}
.road-map .descr span{
	display: block;
	font-size: 16px;
	line-height: 28px;
	text-align: left;
	background-color: #fff;
	border-radius: 10px;
	padding: 6px 16px;
	box-sizing: border-box;
}

.access-map{
	position: relative;
	padding: 0 30px 40px;
}
.road-map .main-title,
.access-map .main-title{
	padding: 10px 0;
	margin: 0;
}
.road-map .main-title h2,
.access-map .main-title h2{
	position: relative;
	display: block;
	margin: 0;
}
.road-map .main-title h2 img,
.access-map .main-title h2 img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 27px;
	width: auto;
}
.access-map-check{
	position: relative;
	margin-bottom: 30px;
}
.access-map-check img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}

.g_map{
	margin-bottom: 12px;
}
.g_map iframe{
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 650px;
	min-height: 170px;
}

.holder{
	display: block;
	margin-bottom: 25px;
}
.holder img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}
.btn-primary{
	display: block;
	max-width: 635px;
	width: 100%;
	margin: 0 auto;
}
.btn-primary:hover{opacity: .8;}
.btn-primary img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}