@CHARSET "UTF-8";

body{
	width:100%;
	min-width:1100px;
	margin:0 auto;
	padding:0 0;
	color: #3a3331;
	font-size:12px;
	font-family: "NUDモトヤアポロ Std W3";
	line-height: 1.5;
}

h1,h2,h3,h4,h5{
	display: inline;
	padding-top: 0px;
	padding-bottom: 0px;
	color: black;
	font-family: "NUDモトヤアポロ Std W3";
	font-weight: normal;


}

img {
	border: none;
	vertical-align:bottom;
}

a{
	color:#67a1d4;
}


.page-wrapper{
	width:100%;
	min-width:1100px;
	padding:0 0;
	margin: 0 auto;
	font-family: "NUDモトヤアポロ Std W3";
}


/*container*/
header {
	position: fixed !important;
	position: absolute;
	height:130px;
	width: 100%;
	min-width:1100px;
	background-image:url(../images/header_back.png);
	z-index: 100;


}

nav{

	line-height: 1.1;
	margin: 0 auto;
	padding:0 0;



}

#navi
{
	width: 1100px;
	margin: 0 auto;
	padding:0 0;
	text-align:center;


}

#navi li
{
	float:left;
	list-style: none;
	font-family: "NUDモトヤアポロ Std W3";


}





#navi li a
{	display: block;
	padding:10px 11px;
	text-decoration: none;
	color: #35b8ee;
	white-space: nowrap;
	text-align:center;


}

#navi li a:hover
{
	color:#0099cc;
	font-family: "NUDモトヤアポロ Std W3";



}

#navi  li ul
{
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border: solid 2px #fff;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);

}

#navi ul li
{	float: none;
	display: inline;




}

#navi ul li a
{	width: auto;
	background: #35b8ee;
	color: #fff;


}

#navi li ul li a:hover
{
	background: #dbf2fc;
	font-family: "NUDモトヤアポロ Std W3";


}


.mlr{
	margin:0 5px;
	padding:0 0;
}
.mlr > a,
.mlr > a img{
	-webkit-transition: all .3s;
	transition: all .3s;
}
.mlr > a:hover img{
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.logo{
	margin:0 0;
	padding:0 0;
}


.english_aria {
	float:left;
	width:1100px;
	position: absolute;
	z-index:1;
	top: 80px;
}

.english_aria a{
	margin:0 auto;
	padding:0 0;
	text-align:center;
	text-decoration: none;
	font-size:14px;
	color:#666666;
}

.en_p{
	vertical-align:middle;

}



.line_a{
	height:150px;
	width: 100%;
	min-width:1100px;
	background-image:url(../images/line_a.png);
	position: absolute;
	margin:-90px 0 0 0;
	z-index:4;
}

.line_b{
	height:75px;
	width: 100%;
	min-width:1100px;
	background-image:url(../images/line_b.png);
	position: absolute;
	margin: 0 0;
	z-index:1;
}

.line_c{
	height:80px;
	width: 100%;
	background-image:url(../images/line_c.png);
	margin: 0 0;
	min-width:1100px;
	z-index:1;
	position: absolute;

}

.line_e{
	height:75px;
	width: 100%;
	min-width:1100px;
	background-image:url(../images/line_e.png);
	position: absolute;
	margin: 0 0;
	z-index:1;
}

.line_f{
	height:80px;
	width: 100%;
	background-image:url(../images/line_f.png);
	margin:-80px 0 0 0;
	min-width:1100px;
	z-index:1;
	position: absolute;

}

.line_g{
	height:80px;
	width: 100%;
	background-image:url(../images/line_g.png);
	margin: 0 0;
	min-width:1100px;
	z-index:1;
	position: absolute;

}

.line_h{
	height:80px;
	width: 100%;
	background-image:url(../images/line_h.png);
	margin: 0 0;
	min-width:1100px;
	z-index:1;
	position: absolute;

}


.line_b02{
	height:75px;
	width: 100%;
	background-image:url(../images/line_b.png);
	min-width:1100px;
	margin: 0  0;

}


.godawn{
	width:100%;
	min-width:1100px;
	margin:0 auto;
	padding:0 0;
	text-align:center;
	position: absolute;
	z-index:5;
	margin:-90px auto;


}


.clear {
	clear: both;
}




/*headline*/
.headline{
	margin:0 0;
	padding:0 0 20px 10px;
	float:left;
	text-align:left;

}


.headline_a{
	margin:0 0;
	padding:100px 0 50px 10px;
	float:left;
	text-align:left;

}

.headline_b{

	margin:0 0;
	padding:100px 0 50px 10px;

	float:left;
	text-align:left;

}

.headline_c{
	margin:0;
	float:right;
	text-align:right;
	padding-top: 240px;
	padding-right: 0;
	padding-bottom: 50px;
	padding-left: 0;


}

.headline_d{
	margin:0 0;
	padding:100px 0 50px 10px;
	float:left;
	text-align:left;

}

.headline_e{
	margin:0 auto;
	padding:0 0 20px 0;
	float:left;
	text-align:left;

}

/*	гѓ€гѓѓгѓ—гЃё*/

#gotop_back{
	width:100%;
	min-width:1100px;
	height:140px;

	background-color:#def1f5;

}

.gotop_aria{
	width:1100px;
	height:140px;
	margin:0 auto;
}


.gotop{


	margin:0 auto;
	padding: 1px 0 0 460px;


	z-index:4;
	position: absolute;


}




/*гѓЎгѓ«гѓћг‚¬*/

section#Mail_m
{
	width:100%;
	min-width:1100px;
	background:#def1f5;
	margin:0 0;
	padding:0 0;


}


.mail_area{
	width:1100px;
	margin:0 auto;
	padding:20px 0;
	text-align:center;
}

.mail_area p{
	font-size:14px;
	padding:20px 0 0 0;

}

.mail_area p a{
	text-align:center;
	color:#003399;
	text-decoration: underline;

}

.mail_area p a:hover {
	text-decoration: none;
	color:#f66666;
}

/*г‚°гѓ«гѓјгѓ—г‚ЁгѓЄг‚ў*/

section#Group_b
{
	width:100%;
	min-width:1100px;
	background:#def1f5;
	margin:0 0;
	padding:0 0;
	height:350px;


}


.group_area{
	width:1100px;
	margin:0 auto;
	padding:20px 0 0 0;
	text-align:center;




}


.group_area ul{
	width:980px;
	text-align:left;
	float:left;
	margin:0 100px;
	padding:0 0;


}


.group_area li{
	display: inline;
	padding:0 0 0 10px;
	position: relative;
	margin:0 0;
	z-index:4;
}

/*гѓЄгѓіг‚Їг‚ЁгѓЄг‚ў*/

.links_area {
	overflow: hidden;
	text-align:left;

}

/* clearfix */
.links_area:before,
.links_area:after {
	content: "";
	display: table;
}

.links_area:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.links_area {
	zoom: 1;
}


.links_01{
	float: left;
	padding:20px 0 0 10px ;
	margin:0 0;
}

.links_02{
	text-align:left;
	float: left;
	padding:20px 0 20px 10px;
	margin:0 0;
}





.links_02 li{
	display: inline;
	padding:0 10px;
	margin:0 0;
}


.links_03{
	text-align:left;
	float: left;
	padding:0 0
	margin:0 0;
}


.links_03 ul{

	padding:0 0 10px 0;
	margin:0 0;
}



.links_03 li{
	display: inline;
	padding:0 0;
	margin:0 0;
}


.links_snow{
	text-align:left;
	float: left;
	padding:20px 0 20px 10px;
	margin:0 0;
}

.links_snow ul{

	padding:0 0 10px 0;
	margin:0 0;
}



.links_snow li{
	display: inline;
	padding:0 10px;
	margin:0 0;
}



/*г‚«гѓ©гѓјгЂЂг‚µг‚¤г‚є*/
.red{
	color:#ff0000;
}

.red02{
	color:#ff0000;
	font-size:14px;
	text-align:left;
}

.red03{
	color:#cc3333;
}


.pf18{
	color:#ff3399;
	font-size:18px;
}

.bf18{
	color:#6699ff;
	font-size:18px;

}


.bf{
	color:#1e93cc;
	font-size:18px;

}


.bfa{
	color:#003399;


}


.bluef{color:#006699;
}



.t01{
	font-size:18px;
}



.t02{
	font-size:14px;
}

.t03{
	font-size:18px;
	text-align:left;
}


.t04{
	font-size:20px;
	text-align:left;
}

.t05{
	font-size:30px;
}

.t06{
	font-size:24px;
	text-align:left;
}

.tleft{
	text-align:left;
}