.page-wrapper{
	background: rgb(199, 239, 255);
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}
.main{
	display: block;
	text-align: center;
}
.tenki-page{
	padding-top: 168px;
}
.main-title img{
	display: block;
	margin: 0 auto;
}
.tenki-page .main-title{
	margin-bottom: 17px;
}
.main .forecast-date,
.main .week-forecast-title{
	font-size: 29px;
	line-height: 1;
	color: rgb(249, 159, 71);
	text-align: center;
	font-weight: bold;
	margin-bottom: 33px;
}
.today-weather{
	position: relative;
	display: inline-block;
	margin-bottom: 77px;
}
.tenki-page .snowman{
	position: absolute;
	left: -169px;
	bottom: -16px;
	-webkit-animation: snowman 2s linear infinite;
	animation: snowman 2s linear infinite;
}
.snow{
	position: absolute;
}
.tenki-page .snow-1{
	left: -127px;
	bottom: 117px;
}
.tenki-page .snow-2{
	bottom: 282px;
	left: -73px;
}
.tenki-page .snow-3{
	top: -142px;
	left: -11px;
}
.tenki-page .snow-4{
	right: 8px;
	top: -159px;
}
.tenki-page .snow-5{
	right: -224px;
	top: -64px;
}
.condition-page .snowman{
	position: absolute;
	left: -9px;
	bottom: -16px;
	-webkit-animation: snowman 2s linear infinite;
	animation: snowman 2s linear infinite;
}
.condition-page .snow-1{
	left: 34px;
	bottom: 117px;
}
.condition-page .snow-2{
	bottom: 282px;
	left: 80px;
}
.condition-page .snow-3{
	top: -118px;
	left: 148px;
}
.condition-page .snow-4{
	right: 154px;
	top: -128px;
}
.condition-page .snow-5{
	right: -54px;
	top: -36px;
}
.today-weather-list,
.week-forecast{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0;
}
.week-forecast{
	margin-bottom: 137px;
}
.today-weather-list li,
.week-forecast li{
	text-align: center;
	list-style: none;
}
.today-weather-list li{
	margin-right: 82px;
}
.week-forecast li{
	margin-right: 53px;
}
.today-weather-list li:last-child,
.week-forecast li:last-child{
	margin-right: 0;
}
.today-weather-list h3,
.week-forecast h3{
	display: block;
	color: rgb(102, 102, 102);
	font-weight: bold;
}
.today-weather-list h3{
	font-size: 23px;
	margin: 0 0 5px;
}
.week-forecast h3{
	font-size: 17px;
	line-height: 20px;
	margin: 0 0 15px;
}
.today-weather-list img,
.week-forecast img{
	display: block;
	margin: 0 auto;
}
.today-weather-list .temp{
	margin-top: 31px;
	display: block;
	font-size: 54px;
	line-height: 1;
	color: rgb(53, 184, 238);
	font-weight: bold;
}
footer{
	position: relative;
	background: rgb(0, 175, 228);
}
.footer-block img{
	display: block;
	width: 100%;
}
.footer-link{
	position: absolute;
	bottom: 16px;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}
.footer-link:hover{
	-webkit-transform: translate(-3px, -3px);
	-ms-transform: translate(-3px, -3px);
	transform: translate(-3px, -3px);
	-webkit-box-shadow: 3px 3px 0 rgb(177, 177, 177);
	box-shadow: 3px 3px 0 rgb(177, 177, 177);
	opacity: .9;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}
.footer-link img{
	display: block;
	width: 100%;
}
.footer-link-1{
	right: 497px;
}
.footer-link-2{
	right: 325px;
}
.footer-link-3{
	right: 153px;
}
.condition-page{
	padding-top: 169px;
}
.condition-page .main-title{
	margin-bottom: 43px;
}
.condition-page .info{
	display: inline-block;
	position: relative;
	margin-bottom: 5px;
}
.condition-page .info .content{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-left: 152px;
}
.condition-page .info .content .snow-now{
	margin: 57px 50px 0 0;
}
.condition-page .info .content .snow-now h3{
	display: block;
	font-size: 23px;
	line-height: 1;
	font-weight: bold;
	color: rgb(102, 102, 102);
	margin: 0 0 24px;
}
.condition-page .info .content .snow-now .amount{
	font-size: 59px;
	line-height: 1;
	color: rgb(61, 121, 176);
}
.condition-page .info .content .details{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	max-width: 600px;
}
.condition-page .info .content .details li{
	padding: 0 11px 15px;
	min-width: 150px;
}
.condition-page .info .content .details .title{
	margin-bottom: 8px;
}
.condition-page .info .content .details img{
	display: block;
	margin: 0 auto;
}
.condition-page .condition-info{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-bottom: 111px;
}
.condition-page .condition-info .text{
	min-height: 272px;
	max-width: 426px;
	padding: 23px;
	margin: 41px 37px 0 0;
	background: #fff;
	font-size: 20px;
	line-height: 30px;
	color: rgb(72, 63, 139);
	font-weight: bold;
	border-radius: 9px;
	text-align: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.condition-page .condition-info .text p:last-child{
	margin-bottom: 0;
}
@-webkit-keyframes snowman {
	0%    {bottom: -6px;}
	50%   {bottom: -26px;}
	100%  {bottom: -6px;}
}
@keyframes snowman {
	0%    {bottom: -6px;}
	50%   {bottom: -26px;}
	100%  {bottom: -6px;}
}


.contentb_area{
	max-width: 1100px;
	margin: 0 auto;
}
.road-map{
	position: relative;
	text-align: center;
	margin: -125px 0 50px;
}
.road-map img{
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}
.road-map .descr{
	position: absolute;
	width: 190px;
	height: 128px;
	line-height: 128px;
	background-color: #fff;
	font-size: 16px;
	color: #3d79b1;
	text-align: center;
	border-radius: 10px;
}
.road-map .descr:after{
	content: "";
	position: absolute;
	border: 9px solid transparent;
	border-right: 20px solid #fff;
	border-left: 0;
}
.road-map .descr span{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	line-height: 32px;
}
.road-map .descr.text1{
	top: 28%;
	left: 22%;
}
.road-map .descr.text1:after{
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	bottom: -18px;
	left: 30%;
}
.road-map .descr.text2{
	top: 28%;
	right: 13%;
}
.road-map .descr.text2:after{
	left: -20px;
	top: 20%;
}
.access-map{
	position: relative;
	background-color: #fff;
	padding-bottom: 156px;
}
.access-map .snow{
	position: absolute;
}
.access-map .snow-1{
	top: -1%;
	left: 30%;
}
.access-map .snow-2{
	top: 1%;
	right: 30%;
}
.access-map .main-title{
	padding: 38px 0;
	margin: 0;
}
.access-map .main-title h2{
	position: relative;
	display: block;
	margin: 0;
}
.access-map .main-title h2 img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}
.access-map-check{
	position: relative;
	margin-bottom: 34px;
}
.access-map-check img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}
.access-map-check .btn-check{
	position: absolute;
	bottom: 16%;
	left: 21%;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	color: #22ad39;
	font-weight: 700;
	background: #9febac;
	text-align: center;
	border-radius: 8px;
	padding: 5px 8px;
	min-width: 90px;
	text-decoration: none;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
}
.access-map-check .btn-check .ico{
	display: inline-block;
	vertical-align: middle;
	border: 3px solid transparent;
	border-left: 5px solid #22ad39;
	border-right: 0;
	margin: -2px 0 0 4px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.access-map-check .btn-check:hover{
	background: #22ad39;
	color: #fff;
}
.access-map-check .btn-check:hover .ico{
	border-left: 5px solid #fff;
	border-right: 0;
}
.g_map{
	margin-bottom: 60px;
}
.g_map iframe{
	display: block;
	margin: 0 auto;
}

.holder{
	display: block;
	margin-bottom: 68px;
}
.holder img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}
.btn-primary{
	display: block;
	max-width: 635px;
	width: 100%;
	margin: 0 auto;
}
.btn-primary:hover{opacity: .8;}
.btn-primary img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}