@CHARSET "UTF-8";

/*top_main*/

#Top_main{
width: 100%;
min-width:1100px;
background-image:url(../images/top_back.png);
}
	
	

#mainImg {
	margin: 0 auto;
	 width: 980px;
	height:820px;
	text-align: left;
	overflow: hidden;
	position: relative;
}

#mainImg img {
	top: 0;
	left: 0;
	position: absolute;
}


.fuji_top{
  position: relative;
  width: 980px;
  height:820px;
  padding: 0 0;
  margin: 0 auto;
  }



.cloud_are{
	width:100%;
	min-width:1100px;
	margin:0 auto;
	padding:0 0;
	text-align:center;
	height:495px;
	
	}
	

	
.cloud{

	position:absolute;
	z-index:4;
	line-height: 1.2;
}


#cloud1{
	top:150px;
	left:10%;
	width:232px;
	height:148px;
	background:url(../images/cloud01.png) no-repeat 0 0;
	position:absolute;
	z-index:4;

}

#cloud1 a{
	text-align : center;
	position:absolute;
	width: 232px;
	color: #feb05b;
	font-size:22px;
	text-decoration: none;
	top: 45%;
	}
	


#cloud2{
	top:300px;
	left:25%;
	width:245px;
	height:155px;
	background:url(../images/cloud02.png) no-repeat 0 0;
	position:absolute;
	z-index:4;
}

#cloud2 a{
	text-align : center;
	position:absolute;
	width:245px;
	color: #277c00;
	font-size:22px;
	text-decoration: none;
	top: 40%;
	}






#cloud3{
	top:150px;
	right:10%;

	width:245px;
	height:156px;
	background:url(../images/cloud03.png) no-repeat 0 0;
	position:absolute;
	z-index:4;
}

#cloud3 a{
	text-align : center;
	position:absolute;
	width:245px;
	color: #aa905a;
	font-size:22px;
	text-decoration: none;
	top: 40%;
	}
	
#cloud4{
	top:450px;
	left:10%;
	width:232px;
	height:147px;
	background:url(../images/cloud04.png) no-repeat 0 0;
	position:absolute;
	z-index:4;
}

#cloud4 a{
	text-align : center;
	position:absolute;
	width:232px;;
	color: #22a779;
	font-size:22px;
	text-decoration: none;
	top: 40%;
	}


#cloud5{
	top:330px;
	right:15%;
	width:220px;
	height:142px;
	background:url(../images/cloud05.png) no-repeat 0 0;
	position:absolute;
	z-index:4;
}

#cloud5 a{
	text-align : center;
	position:absolute;
	width:220px;
	color: #fb8a87;
	font-size:22px;
	text-decoration: none;
	top: 45%;
	}
	

.catch_copy{
	left:60%;
	width:345px;
	height:385px;
	background:url(../images/top_character.png) no-repeat 0 0;
	position:absolute;
	z-index:5;
	margin:-330px auto;
	font-family: "NUDモトヤアポロ Std W3";
	}

.catch_copy p{
	text-align:left;
	position:absolute;
	width:180px;
	color: #fff;
	text-decoration: none;
	top: 30px;
	left: 30px;
	line-height: 1.3;
	font-size:24px;
	}

/*ふじてん耳より情報*/


.headlines{
	left:10%;
	width:400px;
	height:270px;
	background:url(../images/headline.png) no-repeat 0 0;
	position:absolute;
	z-index:5;
	margin:-150px auto;
	}


	

#msgBx{
	position :absolute;
	top: 60px;
	left: 75px;
	font-size :22px;
	padding :0 0;
	height :80px;
	width:280px;
	color: #33cccc;
	text-align:left;
	line-height: 1.3;
}

	/*	news*/
	
section#News{

	width: 100%;
	background-color:#FFF;

	}

#news_area{
	width:1100px;
	margin:0 auto;
	padding:20px 0;
	text-align:center;
	
	
}

#lift_area{
	position: relative;
	width:1100px;
	margin:0 auto;
	padding:0 0;
	text-align:center;
	
	
}

.lift{
	position: absolute;  
	margin:-95px 0 0 200px;
	z-index:4;
	
	}
	
	
#section-wrapper{

}


.red-badge{
	background-color: #DF001A;
	font-size: 13.24px;
	color: white;
}

#slider{
	text-align: center;
	padding-left: 10px;
}

.slide{
	width: 320px !important;
	padding: 10px 10px 5px 10px;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 4px solid #CDCDCD;
	display: inline-block;
	margin: 10px;
}

.slide a{
	float: left;
	font-size: 10px;
	display: block;
	text-decoration: underline;
}
.slide .excerpt{
	font-size: 10px;
	text-align: left;
}
.excerpt p{
	width: 200px;
	margin-top: 4px;
}
.post-date{
	font-size: 11.8px;
}

.bx-wrapper .bx-viewport{
		height: auto !important;
	width:100% !important;

}
.popup{
	text-align: left !important;
}

.popup p{
	font-size: 10.43px;
	color:black;
}
.popup .close{
	color:#00a3e4;
	text-align: center !important;
	font-size: 12.69px;
	display: block;
	width:100%;
	min-width:1100px;
	text-decoration: none;
}


section#Space01
{
	width:100%;
	min-width:1100px;
	background-color:#def1f5;
	position: absolute;


	}
	
	
.space01_area{
	width:1100px;
	margin:0 auto;
	padding:20px 0;
	text-align:center;

	
	
}






.illust01{
	position: absolute; 
	margin:-10px 0 0 0;
	left:50%;
	z-index:2;
	}


/*今日のふじてん*/
.today_f{
	width:550px;
	text-align:left;
	float:left;

	}




.today_f table{
	width:500px;
	margin:0 auto;
	padding:0 0;
	text-align:center;


	}

.today_f01{
	color:#fff;
	background-color:#0da1e9;	
	padding: 3px;
	font-size:20px;
	text-align:center;
	
	
	

	}
	
	
.today_f02{
	text-align:right;
	padding: 10px;
	

	}


	
.today_f03{
	text-align:left;
	padding: 10px;
	line-height:2;
	font-size: 18px;
	color: #32a300;
	

	}

.today_f04{
	text-align:left;
	padding: 10px;
	line-height:2;
	font-size: 18px;
	

	}
	
	
.today_f05{
	text-align:center;
	padding: 10px;
	line-height:1.1;
	font-size: 10px;
	

	}	
.todayarea_back	{
	background: #fff;
	padding:0 0 10px 0;
    margin:0 auto;

	text-align: center;
	}	
.todayarea_t{
	background: #3498db;
	 
	   padding:5px;
	    margin:0 auto 10px auto;
		color: #ffffff;

	}
.live-camera_btn{

  padding:0;
  margin:10px auto 0 auto;
}

.live-camera_btn a{
	 color: #ffffff;
	}
	
/*ゲレンデの状況*/
.gelande{
	position: relative;
	width:550px;
	text-align:left;
	float:left;
	clear:right;

	}

.gelande01{
	position: absolute;
	padding:370px 0 0 90px;
	margin:0 0;
	z-index:2;

	
	}

.gelande02{
	position: absolute;
	padding:350px 0 0 240px;
	margin:0 0;
	z-index:2;

	
	}

.gelande03{
	position: absolute;
	padding:370px 0 0 390px;
	margin:0 0;
	z-index:2;

	
	}

.gelande04{
	position: absolute;
	padding:470px 0 0 90px;
	margin:0 0;
	z-index:2;

	
	}

.gelande05{
	position: absolute;
	padding:450px 0 0 240px;
	margin:0 0;
	z-index:2;

	
	}

.gelande06{
	position: absolute;
	padding:470px 0 0 390px;
	margin:0 0;
	z-index:2;

	
	}

.gelande07{
	position: absolute;
	padding:550px 0 0 240px;
	margin:0 0;
	z-index:2;

	
	}
		

.gelande_link{
	position: absolute;
	padding:650px 0 0 90px;
	margin:0 0;
	z-index:2;

	
	}
		
		

.gelande_link a{
	font-size:18px;
	
	color:#cd654c;
	}	
	
/*コメント*/

.comments_area{
position: relative;
	width:380px;
	height:345px;
	text-align:left;
	padding:0 0 0 200px;

	}

.comments_txt{
	position: absolute;
	padding:0 0;
	margin:0 0;
	z-index:2;
	top: 600px;
	font-size:18px;
	text-align:center;
	width: 360px;
	height: 200px;
	}

.charm{
position: absolute;

	text-align:left;
	padding:450px 0 0 100px;
	z-index:2;

	}

/*道路状況*/
.road{
	position: relative;
	width:620px;
	float:right;
	clear:right;

	}


.road_txt01{
	position: absolute;
	padding:0 0;
	margin:0 0;
	top: 420px;
	left:114px;
	z-index:2;
	text-align:center;
	width: 190px;
	height: 150px;
	}

.road_txt02{
	position: absolute;
	padding:0 0;
	margin:0 0;
	top: 470px;
	left:410px;
	z-index:2;
	text-align:center;
	width: 190px;
	height: 150px;
	}


.road_t {
	color:#663300;
	font-size:16px;
	padding:0 0;
	margin:0 0;
	}

.road_p {
	color:#339900;
	text-align:left;
	font-size:12px;
	padding:10px;
	margin:0 0;
	line-height:2;
	}

/*ボタンエリア*/	
section#Space02
{
	width:100%;
	min-width:1100px;
	background-color:#def1f5;
	position: relative;
	margin:1240px 0 0 0;
	padding:0 0;


	}
	
	
.space02_area{
	width:1100px;
	margin:0 auto;
	padding:20px 0;
	text-align:center;

	
	
}
	
/*ボタン*/	
.butn a{
	
	width:800px;
    font-size:30px;
    text-decoration:none;
    display:block;
    text-align:center;
	padding:10px;
	margin:40px auto;
    color:#ec6aa2;
    background:#fff;
    border-radius:10px;
	border: 2px solid #ec6aa2; 
box-sizing: border-box;
}

.butn a:hover{
	width:800px;

    font-size:30px;
    text-decoration:none;
    display:block;
    text-align:center;
 	padding:10px;
	margin:40px auto;
    color:#fff;
   background:#ec6aa2;
    border-radius:10px;
	}

/*特集記事*/
#Feature
{
	width:100%;
	min-width:1100px;
	background-color:#fff;
	position: relative;
	margin:-20px 0 0 0;
	padding:0 0;


	}
	
	#Feature_area{
	width:1100px;
	margin:0 auto;
	padding:20px 0;
	text-align:center;

	
	
}




.toku_box{
	float: left;
}

#features{
	overflow: hidden;
	width:1100px;
	margin:0 0;
	padding:0 0;
	text-align:left;
	position: relative;
}

/* clearfix */
#features:before,
#features:after {
    content: "";
    display: table;
}
 
#features:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
#features{
    zoom: 1;
}
	
	
/*イラスト部分*/
.feature_i01{
position: absolute;
padding:100px 0 0 600px;
margin:0 0;
z-index:1;
}

.feature_i02{
padding:0 0;
margin:0 0;
}



		
/*ブログ*/
	
section#Blog
{
	width:100%;
	min-width:1100px;

	background-color:#def1f5;
	padding:0 0;


	}
	
	
.blog_area{
	width:1100px;
	margin:0 auto;
	padding:20px 0 0 0;
	text-align:center;

	
	
}
.blog_box {
	width:340px;
	height:417px;
	float: left;
	margin:0 10px;
	padding:0 0;
	background:url(../images/blog_back.png) no-repeat 0 0;
}

.box_photo{
	border:1px solid #cccccc;
	padding:5px;
	background-color:#ffffff;
	margin-top:60px;
	text-align:center;
	

}

.data_day{
	padding:10px 20px 0 20px;
	text-align:right;
	margin:0 0;
	
	}
.blog_t{
	margin:0 0;
	padding:10px 20px;
	text-align:left;

	
	}	

.blog_link{
	margin:0 0;
	padding:10px 20px;
	text-align:right;
	

	
	}

.blog_boxContainer {
	overflow: hidden;
	width:1100px;
}

/* clearfix */
.blog_boxContainer:before,
.blog_boxContainer:after {
    content: "";
    display: table;
}
 
.blog_boxContainer:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.blog_boxContainer {
    zoom: 1;
}


/*SNS*/

.sns_area{
text-align: center;
padding:20px 0;
}
.sns_area li{
display: inline;
padding:0 20px;
margin:0 0;

}



/*Footer_top*/
#Footer_top{
	width:100%;
	min-width:1100px;
	position: relative;
	margin:0 auto;
	padding:0 0;
	text-align:center;
	 
	}

.footer_area{
	
	width:1100px;
	margin:0 auto;
	padding:0 0;
	text-align:center;

	background:url(../images/footer_back.png) no-repeat 0 0;


	
	
}




.link_a{
text-align: center;
padding:20px 0;
}
.link_a li{
display: inline;
padding:0 20px;
margin:0 0;

}


.link_b{
text-align: center;
padding:20px 0;
}
.link_b li{
display: inline;
padding:0 10px;
margin:0 0;
}








.footer_bottom{

	height:300px;
	width: 100%;
	background-image:url(../images/line_d.png);
	margin: 0 0;
	padding:0 0;
	z-index:1;
	position: absolute; 	
	}

	

.footer_txt{
	width:100%;
	min-width:1100px;
	margin:0 auto;
	padding:100px 0 0 0;
	text-align:center;
	color:#1d90ce;
	z-index:2;
	position: absolute; 
	line-height:2;


	
}

.link01{
	width:355px;
	height:155px;
position: absolute;

	text-align:left;
	padding:10px 0 0 10px;

	z-index:5;

	}



.link02{
	width:188px;
	height:111px;
position: absolute;
text-align:left;
	padding:30px 0 0 730px;
	z-index:3;

	}


.link03{
	width:130px;
	height:115px;
position: absolute;
text-align:left;
	padding:50px 0 0 930px;
	z-index:2;

	}
	
	
/*LINE@バナー*/	
.line_banner{
	
	width:1100px;
	margin:30px auto;
	padding:0 0;
	text-align:center;
	
	}